<div id="personView" >
  <div id="personWrapper">
<button (click)="closeButtonClicked()" >x</button>
    <div class="bg" [ngStyle]="{'background-image': 'url(./assets/images/persons/rodo.png)'}"></div>
    <div class="desc">
      <h2>{{person[ActivatedDeskId || 0 ].name}} {{person[ActivatedDeskId || 0 ].surname}}</h2>
      <h3>{{person[ActivatedDeskId || 0 ].position}}</h3>
      <hr>
      <p>{{person[ActivatedDeskId || 0 ].description | translate}}</p>
      <strong>Wydobycie w Code Mine od: <span>{{person[ActivatedDeskId || 0 ].since}} rok</span></strong>
    </div>
  </div>
</div>
