@import "../../../../assets/styles/colors";

#personView {
  background: $desk;
  height: 600px;
  width: 60%;
  border-radius: 3px;
  box-shadow: 0 0 15px 15px rgba(0,0,0,0.1);
  position: absolute;
  top:20vh;
  left:20%;
  display: none;
  opacity: 0;
  transition: .3s;
  transform: scale(0.3);
  #personWrapper {
    height:100%;
    box-sizing: border-box;
    padding: 25px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    button{
      position: absolute;
      right: 1.5%;
      top:3%;
      background: none;
      cursor: pointer ;
      border: none;
      font-size: 1.8em;
      img{
        width:25px;
      }
    }
    .bg {
      width: 45%;
      height: 90%;
      margin:3% 0;
      background-size: contain;
      background-position: center, -500% 0%;
      background-repeat: no-repeat;

      &:hover{
        background-position: -500% 0%, center;
      }
    }
    .desc {
      width: 45%;
      margin-left: 5%;
      h2{
        margin-top: 0;
      }
      h3{
        margin-bottom: 10px;
      }
      hr{
        width: 80px;
        border: 1px solid #000;
        margin: 0;
      }
      p{
        margin: 2em 0;
      }
    }
  }
}
#personView.active{
  display: block;
  animation:fadeIn .3s forwards;
}
@keyframes fadeIn {
  from {
    opacity:0
  }
  to{
    opacity:1;
  }
}
