@import "../../../../../assets/styles/mediaQueries";
:host{
  display:block;
  margin:0 -200px
}
section{
  width:100%;
  display:flex;
  @media #{$home-information-mobile}{
    flex-wrap: wrap;
  }
  figure{
    margin:0;
    &:last-child{
      margin-left: 40px;
    }
    img{
      width:100%;
      &.margin{
        margin-top:39px;
      }
    }
    figcaption{
      font-weight: 700;
      font-size:1.6rem;
      margin-bottom: 20px;
      display:flex;
      justify-content: space-between;
    }
  }
}

