:host {

  width: 100%;
  display: block;
  svg {
    width: 52.5%;
  }
}

.wrapper {
  padding-top: 100px;
  width: 100%;
  background: #FFDE07;
  .container {
    h1 {
      margin: 0 0 40px;
      font-size: 3.6rem;
    }
    p {
      max-width: 570px;
      padding-bottom: 40px;
      margin:0;
    }
  }
}
