:host {
  position: relative;
  width: 100%;
  display: block;
  svg {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.wrapper {
  padding-top: 100px;
  width: 100%;
  background: #FFDE07;
  .container {
    h1 {
      margin: 0 0 40px;
      font-size: 3.6rem;
    }
    p {
      max-width: 570px;
      padding-bottom: 100px;
      margin:0;
    }
  }
}
