@import "../../../../../assets/styles/mediaQueries";

:host {
  font-weight: 500;
}

.wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  & > * {
    position: relative;
    z-index: 25;
  }
  svg {
    margin-top: 300px;
    position: absolute;
    left: 0;
    width: 100%;
    &.background {
      top: 0;
      z-index: 20;
    }
  }
}

.home-image {
  margin-top: 100px;
  @media #{$phone}{
    margin-top: 50px;
  }
  figure {
    margin: 0;
    width: 100%;
    box-shadow: 10px 20px 50px rgba(161, 161, 161, .35);
    figcaption {
      display: none;
    }
    img {
      width: 100%;
    }
  }
}

.goal {
  margin-top: 100px;
  @media #{$phone}{
    margin-top: 50px;
  }
  h3 {
    margin: 0 0 20px;
  }
  p {
    display: flex;
    justify-content: space-between;
    span {
      width: 45%;
      display: block;
    }
    @media #{$phone}{
      flex-wrap: wrap;
      span {
        width: 100%;
        &:nth-of-type(2) {
          margin-top: 20px;
        }
      }
    }
  }
}

.goal-images {
  margin-top: 100px;
  @media #{$phone}{
    margin-top: 50px;
  }
  width: 100%;

  figure {
    margin: 0;
    width: 100%;
    figcaption {
      display: none;
    }
  }

  img {
    width: 100%;
    transform: scale(1.2);
  }

  video {
    margin-top: -100%;
    width: 100%;
    box-shadow: -10px 33px 52px -2px rgba(0, 0, 3, .48);
    transform-origin: left bottom;
    transform: translate(26.5%, 1%) rotateZ(-15deg) skew(-330deg) scale(0.37);
  }
}

.architecture {
  margin-top: 100px;
  margin-bottom: 100px;
  @media #{$phone}{
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
