:host {
  margin-top: 160px;
  display: block;
  position: relative;
  & > * {
    position: relative;
    z-index: 35;;
  }

  .cta {
    padding: 200px 0;
    text-align: center;
    h2 {
      font-weight: 700;
      font-size: 36px;
    }
  }

  & > svg {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 30;
    width: 100%;
  }

}
