:host{
  display: flex;
  flex-direction: column;
  flex: 1;
}


.section-home {

  .skip {
    text-align: center;
    position: absolute;
    bottom: 15px;
    width: 100%;

    &-text {
      font-size: 1.6em;
    }

    &-btn {
      font-size: 2.5em;
      color: #333333;
    }
  }
}
