@import "../../../../../../assets/styles/mediaQueries";

:host{
  display:flex;
  width:100%;
  height: 85vh;
  align-items: center;
  &>div{
    width:60%;
    height: 100%;
    box-sizing: border-box;
    padding:5%;
    position:relative;
    transition: opacity 300ms;
    &.hidden{
      opacity:0;
    }
    &>div{
      width:90%;
      position: absolute;
      top:-1%;
      right:0%;
      transform: translateX(-19%);
      @media screen and (min-width: 1050px){
        max-width: 450px;
        transform: translateX(-12%);
      }
      @media screen and (min-width: 1280px){
        max-width: 550px;
        transform: translateX(-12%);
      }
      @media screen and (min-width: 1500px){
        max-width: 700px;
        transform: translateX(-12%);
      }

    }
  }
  &>section{
    width:40%;
    box-sizing: border-box;
    padding-right: 5%;
  }
}
