.section-contact {
  position: relative;

  .row-contact {
    display: flex;
    justify-content: center;
    margin: 100px 80px 100px 80px;

    .col-contact {
      width: 40%;
      margin: 0 30px;
      box-shadow: 12px 16px 60px -5px rgba(0,0,0,0.34);
    }

    .col-video {
      position: relative;
      overflow: hidden;
      color: #fff;
    }


    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: rgba(0,0,0, 0.25);
    }

    video {
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      margin-left: -15%;
    }


    .contact-box {
      background-color: #F2F2F2;
      text-align: center;
      line-height: 28px;
      padding: 60px 30px;

      .text {
        font-size: 1.8em;
        position: relative;
      }

      &-header {
        font-weight: 500;
        margin-bottom: 50px;
        line-height: 36px;
        position: relative;
      }

      .contact {
        font-weight: 700;
        text-decoration: underline;
        margin-bottom: 60px;
      }

      .address {
        margin-bottom: 60px;
      }

      .row-brief {
        .btn {
          margin: 82px 0;
        }
      }

      .fa-map-marker {
        font-size: 3.6em;
      }
    }
  }
}
