.section-contact {
  position: relative;

  .row-contact {
    display: flex;
    justify-content: center;

    .col-contact {
      width: 40%;
      margin: 0 30px;
    }

    .col-video {
      position: relative;
      overflow: hidden;
      color: #fff;
    }

    video {
      position: absolute;
      height: 100%;
      top: 0;
      margin-left: -45%;
      left: 0;
    }

    .contact-box {
      background-color: #F2F2F2;
      text-align: center;
      line-height: 28px;
      padding: 80px 30px;
      margin-bottom: 80px;
      margin-top: 100px;

      .text {
        font-size: 1.8em;
        position: relative;
      }

      &-header {
        font-weight: 500;
        margin-bottom: 50px;
        line-height: 36px;
        position: relative;
      }

      .contact {
        font-weight: 700;
        text-decoration: underline;
        margin-bottom: 60px;
      }

      .address {
        margin-bottom: 60px;
      }

      .row-brief {
        .btn {
          margin: 82px 0;
        }
      }

      .fa-map-marker {
        font-size: 3.6em;
      }
    }
  }
}
