<div class="section-contact">
  <div class="contact-panel">
      <div class="row row-contact">
        <div class="col-contact contact-box col-video">
          <video autoplay="autoplay" loop="loop" poster="../assets/images/city-of-mineshaft-timelapse-cover.jpg">
            <source src="../assets/videos/timelapse-chorzowska-2.mp4" type="video/mp4">
          </video>
          <div class="overlay"></div>

          <h1 class="contact-box-header">{{company.header | translate}}</h1>
          <div class="row contact text">
            <div class="contact-email">{{company.email }}</div>
            <div class="contact-phone">{{company.phone }}</div>
          </div>
          <div class="row address text">
            <div>{{company.street }} {{company.apartament}}</div>
            <div>{{company.city}}, {{company.country}}</div>
          </div>
          <div class="row localization text">
            <div class="contact-local" i18n>Zobacz na mapie</div>
          </div>
          <i class="fa fa-map-marker" aria-hidden="true"></i>
        </div>
        <div class="col-contact contact-box">
          <h1 class="contact-box-header">Hire us!</h1>
          <div class="row row-brief text">
            <span i18n>Opisz nam swój pomysł, formularz pomoże ci sprecyzować czego będzie on dotyczył.</span>
          </div>
          <div class="row row-brief">
            <button class="btn btn-yellow btn-shadow btn-large" i18n>Przejdź do briefu</button>
          </div>
        </div>
      </div>
  </div>
</div>
