<div class="section-contact">
  <div class="contact-panel">
    <div class="container">
      <div class="row row-contact">
        <div class="col-contact contact-box">
          <h1 class="contact-box-header" i18n>Skontaktuj się z nami!</h1>
          <div class="row contact text">
            <div class="contact-email">{{company.email}}</div>
            <div class="contact-phone">{{company.phone}}</div>
          </div>
          <div class="row address text">
            <div>{{company.street}} {{company.apartment}}</div>
            <div>{{company.city}}, {{company.country}}</div>
          </div>
          <div class="row localization text">
            <div class="contact-local" i18n>Zobacz na mapie</div>
          </div>
          <i class="fa fa-map-marker" aria-hidden="true"></i>
        </div>
        <div class="col-contact contact-box">
          <h1 class="contact-box-header">Hire us!</h1>
          <div class="row row-brief text">
            <span i18n>Opisz nam swój pomysł, formularz pomoże ci sprecyzować czego będzie on dotyczył.</span>
          </div>
          <div class="row row-brief">
            <button class="btn btn-color btn-large" i18n>Przejdź do briefu</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
