@import '../../../../assets/styles/mediaQueries';

:host {
  width: 100%;
  margin-top: 100px;
  position: relative;
  display: block;
  letter-spacing: normal;
  color: #ffffff;
  overflow: hidden;
  &:after {
    content: '';
    display: block;
    padding-bottom: 50%;
    width: 100%;
    @media #{$br1200} {
      padding-bottom: 40%;
    }
    @media #{$tablet-media}{
      padding-bottom: 60%;
    }
    @media #{$phone}{
      padding-bottom: 100%;
    }
    @media only screen and (max-width: 400px) {
      padding-bottom: 125%;
    }
  }
}

figure {
  margin: 0;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  @media #{$tablet-media}{
    width: 125%;
  }
  @media #{$phone}{
    width: 250%;
    left: 50%;
    transform: translateX(-50%)
  }
  figcaption {
    display: none;
  }
  video, img {
    width: 100%;
    pointer-events: none;
  }
  &:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .50);
  }
}

svg {
  position: absolute;
  width: 100%;
  min-width: 470px;
  top: 0;
  right: 0;
}

.address, .info {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.address {
  top: 17.037037037%;
  width: 100%;
  height: 82.962962963%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media #{$tablet-media}{
    flex-direction: column;
    justify-content: center;
    height: 70%;
  }
  @media only screen and (max-width: 400px) {
    top: 8%;
  }
  & > * {
    position: relative;
    cursor: pointer;
    font-size: 2.4rem;
    font-weight: bold;
    display: block;
    text-align: center;
    width: 33%;
    &:hover {
      .hover {
        opacity: 1;
        bottom: 100%;
      }
    }
    @media #{$tablet-media}{
      width: 100%;
      margin: 10px 0;
    }
  }
  a {
    color: #ffffff;
  }
  .hover {
    position: absolute;
    font-size: 1.2rem;
    font-weight: bold;
    bottom: 50%;
    left: 0;
    opacity: 0;
    width: 100%;
    text-align: center;
    color: #AAAAAA;
    transition: .5s;
    pointer-events: none;
    &.copied {
      animation: fadeCopied;
      animation-fill-mode: forwards;
      animation-duration: .5s;
    }
    @media #{$phone}{
      display: none;
    }
  }

  address {
    font-style: normal;
    a {
      color: #ffffff;
    }
    span {
      text-align: center;
      display: block;
    }
    @media #{$phone}{
      & > span {
        display: none;
      }
    }
  }
}

.info {
  width: 100%;
  bottom: 0;
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem;

  @media #{$phone}{
    padding: 0 20px;
    box-sizing: border-box;
  }
}
