<figure>
  <figcaption>Katowice timelapse</figcaption>
  <video *ngIf="!mobile" autoplay loop src="assets/videos/timelaps.mp4"
         poster="assets/images/timelapseSzyb.png"></video>
  <img *ngIf="mobile" src="assets/images/timelapseSzyb.png" alt="Shaft images">
</figure>
<section class="container address">
  <p (click)="copy(company.email)">
    <a [attr.href]="mobile ? 'mailto:' + company?.email : null">{{company.email}}</a>
    <span class="hover" [class.copied]="currentCopy === company.email">
        {{(currentCopy === company.email ? 'CONTACT.copied' : 'CONTACT.clickToCopy') | translate | prettifyText}}
    </span>
  </p>
  <p (click)="copy(company.phone)">
    <a href="tel:{{company?.phone}}">{{company.phone}}</a>
    <span class="hover" [class.copied]="currentCopy === company.phone">
      {{(currentCopy === company.phone ? 'CONTACT.copied' : 'CONTACT.clickToCopy') | translate | prettifyText}}
    </span>
  </p>
  <address>
    <a href="https://www.google.com/maps/dir/Current+Location/3+Maja+18+Katowice+Poland" target="_blank">
      <span>{{company.street}} {{company.apartment}} </span>
      <span>{{company.city}}, {{company.country}}</span>
    </a>
    <span class="hover">{{'CONTACT.clickToNavigate' | translate | prettifyText}}</span>
  </address>
</section>
<section class="container info">
  <p class="info">CODE MINE SP Z O O KRS: 0000582589,NIP: 6342848860, REGON: 362863893 SĄD REJONOWY KATOWICE - WSCHÓD W
    KATOWICACH, VIII WYDZIAŁ GOSPODARCZY KRAJOWEGO REJESTRU SĄDOWEGO</p>
</section>
<svg viewBox="0,0 17,2">
  <polygon fill="#282828" points="0,0 0,1 8,1 9,2 17,2 17,0"></polygon>
</svg>
