::-webkit-scrollbar {
  display: none;
}

.section-start {
  overflow: scroll;
  height: 85vh;
  margin: 30px 80px;

  .slogan-wrapper {
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: scroll;
    text-align: center;
  }

  .start-slogan {
    font-size: 3em;
    text-align: center;
    font-weight: 500;
  }

  .box-start {
    margin: 0 80px 130px 80px;

    .header {
      font-weight: 700;
    }
    .text {
      margin-bottom: 100px;
      width: 50vh;
    }
  }

  .text {
    font-size: 2em;
    font-weight: 200;
    text-align: left;
  }

  .box {
    clear: both;
    display: flex;
    justify-content: flex-start;
    margin: 0 80px 130px 80px;

    &-image {
      height: 30vh;
      border: 1px solid gray;
    }

    &-text {
      margin: 0 40px 0 50px;
    }

    &-header {
      font-weight: 700;
    }

    .col-box-text {
      width: 50%;
    }

    .col-box {
      width: 50%;
    }
  }

  .box-center {
    text-align: center;
    margin-bottom: 280px;

    .btn {
      padding: 10px 95px;
      font-size: 2em;
    }
  }

  .box-with-margin {
    margin-top: 40px;
  }

  .box:nth-child(2n) {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .box:nth-child(6) {
    margin-left: 200px;

    .col-box-text {
      margin: 0 20px 0 30px;
    }

    .box-image {
      height: 50vh;
    }
  }
}
.horizontal {
  position: absolute;
  top: 0;
  right: 0px;
  height: 85vh;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 90px;
  text-align: center;
  opacity: 0;
  overflow-x: hidden;
  h3{
    height: 10px;
    width:100%
  }
  .sliderMain[_ngcontent-c6] {
    display: flex;
    height: 40vh;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    p{
      margin:0;
      transform: rotate(-90deg);
      top: -145px;
      font-size: 1.2em;
      position: relative;
      width: 280px;
    }
  }
}
.borderDiv {
  height: 20vh;
  width: 1px;
  border-right: 1px solid black;
  margin: auto;
}
