<div class="container">
  <div class="section-start">
    <div class="slogan-wrapper">
      <h2 i18n>We are...lorem ipsum dolor sit amet, <br>consectetur adipiscing elit, sed do <br>eiusmod tempor incididunt ut labores</h2>
    </div>
    <div class="box-start">
      <h2 class="header"i18n>Jak pracujemy?</h2>
      <p class="text"i18n>Sprawdź nasz proces realizacji bla bla....</p>
    </div>

    <div class="row box">
      <div class="col-box box-image box-with-margin"></div>
      <div class="col-box-text box-text">
        <h1 class="box-header" i18n>Tworzymy jednolity język komunikacji</h1>
        <p class="text" i18n>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>

    <div class="row box">
      <div class="col-box box-image"></div>
      <div class="col-box-text box-text">
        <h1 class="box-header" i18n>Zdobywamy wiedzę biznesową</h1>
        <p class="text" i18n>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>

    <div class="row box">
      <div class="col-box box-image"></div>
      <div class="col-box-text box-text">
        <h1 class="box-header" i18n>Tworzymy logikę biznesową</h1>
        <p class="text" i18n>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>

    <div class="row box">
      <div class="col-box box-image"></div>
      <div class="col-box-text box-text">
        <h1 class="box-header" i18n>Tworzymy szczegółową specyfikację projektu</h1>
        <p class="text" i18n>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>

    <div class="row box box-scroll">
      <div class="col-box box-image"></div>
      <div class="col-box-text box-text">
        <h1 class="box-header" i18n>Rysujemy makiety UX</h1>
        <p class="text" i18n>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <button class="btn btn-color btn-large" i18n>Zobacz więcej</button>
      </div>
    </div>

    <div class="row box">
      <div class="col-box box-image"></div>
      <div class="col-box-text box-text">
        <h1 class="box-header" i18n>Implementujemy</h1>
        <p class="text" i18n>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <button class="btn btn-color btn-large" i18n>Sprawdź naszą ofertę</button>
      </div>
    </div>

    <div class="row box">
      <div class="col-box box-image"></div>
      <div class="col-box-text box-text">
        <h1 class="box-header" i18n>Wdrażamy</h1>
        <p class="text" i18n>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <button class="btn btn-color btn-large" i18n>Sprawdź realizacje</button>
      </div>
    </div>

    <div class="row box">
      <div class="col-box box-image"></div>
      <div class="col-box-text box-text">
        <h1 class="box-header" i18n>Wspieramy</h1>
        <p class="text" i18n>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <button class="btn btn-color btn-large" i18n>Poznaj nasz zespół</button>
      </div>
    </div>

    <div class="box-center">
      <div class="row">
        <div class="box-center-text">
          <h1 class="box-header" i18n>CTA do formularza</h1>
        </div>
      </div>
      <div class="row">
        <button class="btn btn-color btn-large">Cta</button>
      </div>
    </div>
  </div>
</div>
