::-webkit-scrollbar {
  display: none;
}

.section-start {
  overflow: scroll;
  height: 100vh;
  margin-left: 45px;
  margin-right: 45px;

  .slogan-wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: scroll;
  }

  .start-slogan {
    font-size: 3em;
    text-align: center;
    font-weight: 500;
  }

  .box-start {
    margin: 0 80px 130px 80px;

    .header {
      font-weight: 700;
    }
    .text {
      margin-bottom: 100px;
      width: 50vh;
    }
  }

  .text {
    font-size: 2em;
    font-weight: 200;
    text-align: left;
  }

  .box {
    clear: both;
    display: flex;
    justify-content: flex-start;
    margin: 0 80px 130px 80px;

    &-image {
      height: 30vh;
      border: 1px solid gray;
    }

    &-text {
      margin: 0 40px 0 50px;
    }

    &-header {
      font-weight: 700;
    }

    .col-box-text {
      width: 50%;
    }

    .col-box {
      width: 50%;
    }
  }

  .box-center {
    text-align: center;
    margin-bottom: 280px;

    .btn {
      padding: 10px 95px;
      font-size: 2em;
    }
  }

  .box-with-margin {
    margin-top: 40px;
  }

  .box:nth-child(2n) {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .box:nth-child(6) {
    margin-left: 200px;

    .col-box-text {
      margin: 0 20px 0 30px;
    }

    .box-image {
      height: 50vh;
    }
  }
}
