.section-start {
  margin: 40px;
  height: 678px;
  overflow: scroll;

  .start-slogan {
    font-size: 30px;
    text-align: center;
    margin-bottom: 100px;
  }

  .box-start {
    .header {
      font-weight: bold;
    }
    .text {
      margin-bottom: 100px;
    }
  }

  .text {
    font-size: 18px;
    margin-top: 20px;
    font-weight: 100;
  }

  .box {
    clear: both;

    &-image {
      width: 579px;
      height: 303px;
      border: 1px solid gray;
      margin-right: 40px;
    }

    &-text {
      width: 50%;
    }

    &-header {
      font-size: 25px;
    }
  }

  //.box:nth-child(2n) {
  .box:nth-child(odd){
    flex-direction: row-reverse;
  }
  .box{
    display: flex;
    //>div{
    //  float: left;
    //}
    //&-image {
    //  float: right;
    //}
    //
    //&-text {
    //  float: left;
    //}
  }
}
