<div class="section-start">
  <h2 class="start-slogan">We are...lorem ipsum dolor sit amet, <br>consectetur adipiscing elit, sed do <br>eiusmod tempor incididunt ut labores</h2>
  <div class="container-flex">
    <div class="box-start">
      <h2 class="header">Jak pracujemy?</h2>
      <p class="text">Sprawdź nasz proces realizacji bla bla....</p>
    </div>
    <div class="row box-row">
      <div class="col-md-6 box"></div>
      <div class="col-md-6 box-panel">
        <span class="box-header">Tworzymy jednolity język komunikacji</span>
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>

    <div class="row box-row">
      <div class="col-md-6 box"></div>
      <div class="col-md-6 box-panel">
        <span class="box-header">Zdobywamy wiedzę biznesową</span>
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>

    <div class="row box-row">
      <div class="col-md-6 box"></div>
      <div class="col-md-6 box-panel">
        <span class="box-header">Tworzymy logikę biznesową</span>
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>

    <div class="row box-row">
      <div class="col-md-6 box"></div>
      <div class="col-md-6 box-panel">
        <span class="box-header">Tworzymy szczegółową specyfikację projektu</span>
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
  </div>
</div>
