.container {
  padding: 100px 225px;

  .section-start {
    margin: 40px;
    height: 400px;
    overflow: scroll;

    .start-slogan {
      font-size: 3em;
      text-align: center;
      font-weight: 500;
      margin-bottom: 350px;
    }

    .box-start {
      .header {
        font-weight: 700;
        font-size: 3.6em;
      }
      .text {
        margin-bottom: 100px;
      }
    }

    .text {
      font-size: 18px;
      font-weight: 200;
      text-align: left;

    }

    .box {
      clear: both;
      display: flex;
      justify-content: flex-start;
      margin-bottom: 130px;

      &-image {
        height: 303px;
        border: 1px solid gray;
        margin-right: 40px;
      }

      &-text {
        margin: 0 40px 0 50px;
      }

      &-header {
        font-size: 3em;
        font-weight: 500;
      }

      .col-box-text {
        width: 32%;
      }

      .col-box {
        width: 50%;
      }
    }

    .box-center {
      text-align: center;
      margin-bottom: 150px;

      .btn {
        padding: 10px 95px;
        font-size: 2em;
      }
    }

    .box-with-margin {
      margin-top: 40px;
    }

    .box:nth-child(2n) {
      flex-direction: row-reverse;
      justify-content: flex-end;
      margin-right: 0;
    }
  }
}
