.section-start {
  font-family: proxima-nova, sans-serif;

  margin: 40px;
  height: 678px;
  overflow: scroll;

  .start-slogan {
    font-size: 30px;
    text-align: center;
    margin-bottom: 100px;
  }

  .box-start {
    .header {
      font-weight: bold;
    }
    .text {
      margin-bottom: 100px;
    }
  }

  .text {
    font-size: 18px;
    margin-top: 20px;
    font-weight: 100;
  }

  .box-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;

    .box {
      width: 579px;
      height: 303px;
      border: 1px solid gray;
      margin-right: 40px;
    }

    .box-header {
      font-size: 25px;
    }
  }
}
