<section class="container">
  <section id="quality" class="quality">
    <header class="description">
      <figure>
        <figcaption>Quality presentation</figcaption>
        <img src="assets/images/code_audyt.svg" alt="quality image">
      </figure>
      <article>
        <h2>{{'AUDIT.quality.title' | translate}}</h2>
        <p>
          <span>{{'AUDIT.quality.description.part_1' | translate}}</span>
          <span>{{'AUDIT.quality.description.part_2' | translate}}</span>
          <span>{{'AUDIT.quality.description.part_3' | translate}}</span>
        </p>
      </article>
    </header>
    <table>
      <tr>
        <th>{{'AUDIT.tasks' | translate}}</th>
        <th>{{'AUDIT.benefits' | translate}}</th>
      </tr>
      <tr>
        <td>{{'AUDIT.quality.task_1' | translate}}</td>
        <td>
          <app-audit-tick></app-audit-tick>
          {{'AUDIT.quality.benefit_1' | translate}}
        </td>
      </tr>
      <tr>
        <td>{{'AUDIT.quality.task_2' | translate}}</td>
        <td>
          <app-audit-tick></app-audit-tick>
          {{'AUDIT.quality.benefit_2' | translate}}
        </td>
      </tr>
      <tr>
        <td>{{'AUDIT.quality.task_3' | translate}}</td>
        <td>
          <app-audit-tick></app-audit-tick>
          {{'AUDIT.quality.benefit_3' | translate}}
        </td>
      </tr>
      <tr>
        <td>{{'AUDIT.quality.task_4' | translate}}</td>
        <td>
          <app-audit-tick></app-audit-tick>
          {{'AUDIT.quality.benefit_4' | translate}}
        </td>
      </tr>
      <tr>
        <td>{{'AUDIT.quality.task_5' | translate}}</td>
        <td>
          <app-audit-tick></app-audit-tick>
          {{'AUDIT.quality.benefit_5' | translate}}
        </td>
      </tr>
    </table>
    <section class="contactInfo">
      <h3>{{'AUDIT.wantKnowDetails' | translate}}</h3>
      <button (click)='onNavigate()' class="btn btn-large btn-border-only btn-hover btn-hover-black-fill-white-color">
        {{'AUDIT.navigate' | translate}}
      </button>
    </section>
  </section>
</section>

<svg viewBox="0,0 25,1" class="quality_svg">
  <polygon points="0,0 3,0 4,1 0,1" fill="#ffffff"></polygon>
</svg>

<section id="usability" class="usability">
  <div class="container">
    <header class="description">
      <figure>
        <figcaption>Quality presentation</figcaption>
        <img src="assets/images/ux_audyt.svg" alt="usability image">
      </figure>
      <article>
        <h2>{{'AUDIT.usability.title' | translate}}</h2>
        <p>
          <span>{{'AUDIT.usability.description.part_1' | translate}}</span>
          <span>{{'AUDIT.usability.description.part_2' | translate}}</span>
          <span>{{'AUDIT.usability.description.part_3' | translate}}</span>
        </p>
      </article>
    </header>
    <table>
      <tr>
        <th>{{'AUDIT.tasks' | translate}}</th>
        <th>{{'AUDIT.benefits' | translate}}</th>
      </tr>
      <tr>
        <td>{{'AUDIT.usability.task_1' | translate}}</td>
        <td>
          <app-audit-tick></app-audit-tick>
          {{'AUDIT.usability.benefit_1' | translate}}
        </td>
      </tr>
      <tr>
        <td>{{'AUDIT.usability.task_2' | translate}}</td>
        <td>
          <app-audit-tick></app-audit-tick>
          {{'AUDIT.usability.benefit_2' | translate}}
        </td>
      </tr>
      <tr>
        <td>{{'AUDIT.usability.task_3' | translate}}</td>
        <td>
          <app-audit-tick></app-audit-tick>
          {{'AUDIT.usability.benefit_3' | translate}}
        </td>
      </tr>
    </table>
    <section class="contactInfo">
      <h3>{{'AUDIT.wantKnowDetails' | translate}}</h3>
      <button (click)='onNavigate()' class="btn btn-large btn-border-only btn-hover btn-hover-black-fill">
        {{'AUDIT.navigate' | translate}}
      </button>
    </section>
  </div>
  <svg viewBox="0,0 25,1">
    <polygon points="25,0 22,0 21,1 25,1" fill="#FFDE07"></polygon>
  </svg>
</section>


