<section>
  <section class="quality">
    <header>
      <figure>
        <figcaption>Quality presentation</figcaption>
        <img src="" alt="quality image">
      </figure>
      <article>
        <h2>{{'AUDIT.quality.title' | translate}}</h2>
        <p>
          <span>{{'AUDIT.quality.description.part_1' | translate}}</span>
          <span>{{'AUDIT.quality.description.part_2' | translate}}</span>
          <span>{{'AUDIT.quality.description.part_3' | translate}}</span>
        </p>
      </article>
    </header>
    <table>
      <tr>
        <th>{{'AUDIT.tasks' | translate}}</th>
        <th>{{'AUDIT.benefits' | translate}}</th>
      </tr>
      <tr>
        <td>{{'AUDIT.quality.task_1' | translate}}</td>
        <td>{{'AUDIT.quality.benefit_1' | translate}}</td>
      </tr>
      <tr>
        <td>{{'AUDIT.quality.task_2' | translate}}</td>
        <td>{{'AUDIT.quality.benefit_2' | translate}}</td>
      </tr>
      <tr>
        <td>{{'AUDIT.quality.task_3' | translate}}</td>
        <td>{{'AUDIT.quality.benefit_3' | translate}}</td>
      </tr>
      <tr>
        <td>{{'AUDIT.quality.task_4' | translate}}</td>
        <td>{{'AUDIT.quality.benefit_4' | translate}}</td>
      </tr>
      <tr>
        <td>{{'AUDIT.quality.task_5' | translate}}</td>
        <td>{{'AUDIT.quality.benefit_5' | translate}}</td>
      </tr>
    </table>
  </section>

  <section class="usability">
    <header>
      <figure>
        <figcaption>Quality presentation</figcaption>
        <img src="" alt="usability image">
      </figure>
      <article>
        <h2>{{'AUDIT.usability.title' | translate}}</h2>
        <p>
          <span>{{'AUDIT.usability.description.part_1' | translate}}</span>
          <span>{{'AUDIT.usability.description.part_2' | translate}}</span>
          <span>{{'AUDIT.usability.description.part_3' | translate}}</span>
        </p>
      </article>
    </header>
    <table>
      <tr>
        <th>{{'AUDIT.tasks' | translate}}</th>
        <th>{{'AUDIT.benefits' | translate}}</th>
      </tr>
      <tr>
        <td>{{'AUDIT.usability.task_1' | translate}}</td>
        <td>{{'AUDIT.usability.benefit_1' | translate}}</td>
      </tr>
      <tr>
        <td>{{'AUDIT.usability.task_2' | translate}}</td>
        <td>{{'AUDIT.usability.benefit_2' | translate}}</td>
      </tr>
      <tr>
        <td>{{'AUDIT.usability.task_3' | translate}}</td>
        <td>{{'AUDIT.usability.benefit_3' | translate}}</td>
      </tr>
    </table>
  </section>
</section>
