h2, h4, span{
  text-align: center;
}

  ul.list{
    background: #fff;

    margin-top: 4em;
    padding: 4em 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 10px 20px 50px 0px rgba(161, 161, 161, 0.35);

    border-radius:2px;
    li{
      margin:2em auto;
    }
  }

