<div class="container">
 <div class="project">
   <div class="project-image"><p>zobacz wiecej</p></div>
   <div class="project-details">
     <div class="project-desc">
       <div class="desc-img"><img src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/sign-check-icon.png" alt=""></div>
       <div class="desc-info">
         <h1>Nazwa Projektu</h1>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam assumenda cum delectus dicta dolor dolore ea enim</p>
         <div class="tags"><p>tag</p><p>tag2</p><p>tag3</p><p>tag4</p></div>
       </div>
     </div>
     <div class="project-tech">
       <h4>Technologie</h4>
       <div class="technologies">
       <div class="tech"><img src="https://www.shareicon.net/download/2015/09/25/107082_development.ico" alt=""></div>
       <div class="tech"><img src="https://www.shareicon.net/download/2015/09/25/107082_development.ico" alt=""></div>
       <div class="tech"><img src="https://www.shareicon.net/download/2015/09/25/107082_development.ico" alt=""></div>
       <div class="tech"><img src="https://www.shareicon.net/download/2015/09/25/107082_development.ico" alt=""></div>
       <div class="tech"><img src="https://www.shareicon.net/download/2015/09/25/107082_development.ico" alt=""></div>
       <div class="tech"><img src="https://www.shareicon.net/download/2015/09/25/107082_development.ico" alt=""></div>
       <div class="tech"><img src="https://www.shareicon.net/download/2015/09/25/107082_development.ico" alt=""></div>

     </div>
     </div>
   </div>
 </div>

  <div class="project">
    <div class="project-image"><p>zobacz wiecej</p></div>
    <div class="project-details">
      <div class="project-desc">
        <div class="desc-img"><img src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/sign-check-icon.png" alt=""></div>
        <div class="desc-info">
          <h1>Nazwa Projektu</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam assumenda cum delectus dicta dolor dolore ea enim</p>
          <div class="tags"><p>tag</p><p>tag2</p><p>tag3</p><p>tag4</p></div>
        </div>
      </div>
      <div class="project-tech">
        <h4>Technologie</h4>
        <div class="technologies">
          <div class="tech"><img src="https://www.shareicon.net/download/2015/09/25/107082_development.ico" alt=""></div>
          <div class="tech"><img src="https://www.shareicon.net/download/2015/09/25/107082_development.ico" alt=""></div>
          <div class="tech"><img src="https://www.shareicon.net/download/2015/09/25/107082_development.ico" alt=""></div>
          <div class="tech"><img src="https://www.shareicon.net/download/2015/09/25/107082_development.ico" alt=""></div>
          <div class="tech"><img src="https://www.shareicon.net/download/2015/09/25/107082_development.ico" alt=""></div>
          <div class="tech"><img src="https://www.shareicon.net/download/2015/09/25/107082_development.ico" alt=""></div>
          <div class="tech"><img src="https://www.shareicon.net/download/2015/09/25/107082_development.ico" alt=""></div>

        </div>
      </div>
    </div>
  </div>

  <div class="project">
    <div class="project-image"><p>zobacz wiecej</p></div>
    <div class="project-details">
      <div class="project-desc">
        <div class="desc-img"><img src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/sign-check-icon.png" alt=""></div>
        <div class="desc-info">
          <h1>Nazwa Projektu</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam assumenda cum delectus dicta dolor dolore ea enim</p>
          <div class="tags"><p>tag</p><p>tag2</p><p>tag3</p><p>tag4</p></div>
        </div>
      </div>
      <div class="project-tech">
        <h4>Technologie</h4>
        <div class="technologies">
          <div class="tech"><img src="https://www.shareicon.net/download/2015/09/25/107082_development.ico" alt=""></div>
          <div class="tech"><img src="https://www.shareicon.net/download/2015/09/25/107082_development.ico" alt=""></div>
          <div class="tech"><img src="https://www.shareicon.net/download/2015/09/25/107082_development.ico" alt=""></div>
          <div class="tech"><img src="https://www.shareicon.net/download/2015/09/25/107082_development.ico" alt=""></div>
          <div class="tech"><img src="https://www.shareicon.net/download/2015/09/25/107082_development.ico" alt=""></div>
          <div class="tech"><img src="https://www.shareicon.net/download/2015/09/25/107082_development.ico" alt=""></div>
          <div class="tech"><img src="https://www.shareicon.net/download/2015/09/25/107082_development.ico" alt=""></div>

        </div>
      </div>
    </div>
  </div>

  <div class="project">
    <div class="project-image"><p>zobacz wiecej</p></div>
    <div class="project-details">
      <div class="project-desc">
        <div class="desc-img"><img src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/sign-check-icon.png" alt=""></div>
        <div class="desc-info">
          <h1>Nazwa Projektu</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam assumenda cum delectus dicta dolor dolore ea enim</p>
          <div class="tags"><p>tag</p><p>tag2</p><p>tag3</p><p>tag4</p></div>
        </div>
      </div>
      <div class="project-tech">
        <h4>Technologie</h4>
        <div class="technologies">
          <div class="tech"><img src="https://www.shareicon.net/download/2015/09/25/107082_development.ico" alt=""></div>
          <div class="tech"><img src="https://www.shareicon.net/download/2015/09/25/107082_development.ico" alt=""></div>
          <div class="tech"><img src="https://www.shareicon.net/download/2015/09/25/107082_development.ico" alt=""></div>
          <div class="tech"><img src="https://www.shareicon.net/download/2015/09/25/107082_development.ico" alt=""></div>
          <div class="tech"><img src="https://www.shareicon.net/download/2015/09/25/107082_development.ico" alt=""></div>
          <div class="tech"><img src="https://www.shareicon.net/download/2015/09/25/107082_development.ico" alt=""></div>
          <div class="tech"><img src="https://www.shareicon.net/download/2015/09/25/107082_development.ico" alt=""></div>

        </div>
      </div>
    </div>
  </div>

  <div class="cta">
    <h2>CTA dodaj swój projekt</h2>
    <button>CTA do formularza</button>
  </div>
</div>
