<section class="container">
  <app-portfolio-details-header [title]="'PORTFOLIO.telecom.title'" [logo]="detail?.thumbnail"
                                [description]="'PORTFOLIO.telecom.description.part1'"></app-portfolio-details-header>
  <figure class="map">
    <figcaption>Home map</figcaption>
    <img src="assets/images/portfolio-images/telecom_1.png" alt="world map">
  </figure>
  <article class="postBooking">
    <h3>{{'PORTFOLIO.sectionTitles.postsBooking' | translate}}</h3>
    <p>{{'PORTFOLIO.telecom.description.part2' | translate}}</p>
  </article>
</section>
<section class="icons">
  <section class="container">
    <figure>
      <img src="assets/images/portfolio-images/telecom_world.svg" alt="world icon" class="placeholder">
      <figcaption>{{'PORTFOLIO.telecom.description.part3' | translate}}</figcaption>
    </figure>
    <figure>
      <img src="assets/images/portfolio-images/telecom_database.svg" alt="database icon" class="placeholder">
      <figcaption>{{'PORTFOLIO.telecom.description.part4' | translate}}</figcaption>
    </figure>
    <figure>
      <img src="assets/images/portfolio-images/telecom_gear.svg" alt="gear icons" class="placeholder">
      <figcaption>{{'PORTFOLIO.telecom.description.part5' | translate}}</figcaption>
    </figure>
  </section>
</section>
<section class="container">
  <article class="build">
    <h3>{{'PORTFOLIO.sectionTitles.build' | translate}}</h3>
    <p>{{'PORTFOLIO.telecom.description.part6' | translate}}</p>
  </article>
  <figure class="build_image">
    <figcaption> Project architecture</figcaption>
    <img *ngIf="!mobile" src="assets/images/portfolio-images/telecom_3.png" alt="architecture image">
    <img *ngIf="mobile" src="assets/images/portfolio-images/telecom_3_mobile.png" alt="architecture image">
  </figure>
</section>
<section class="ourRole">
  <article class="container">
    <h3>{{'PORTFOLIO.sectionTitles.ourRole' | translate}}</h3>
    <p>
      <span>{{'PORTFOLIO.telecom.description.part7' | translate}}</span>
      <span>{{'PORTFOLIO.telecom.description.part8' | translate}}</span>
    </p>
  </article>
</section>
<section class="container">
  <section class="workingScheme">
    <h3>{{'PORTFOLIO.sectionTitles.workingScheme' | translate}}</h3>
    <figure>
      <figcaption>working scheme</figcaption>
      <img src="assets/images/portfolio-images/telecom_2.png" alt="working scheme image">
    </figure>
  </section>
  <section class="architecture">
    <h4>{{'PORTFOLIO.sectionTitles.technologies' | translate}}</h4>
    <app-architecture [tools]="tools" [technologies]="technologies" [currentTools]="detail.tools"
                      [currentTechnologies]="detail.technologies"></app-architecture>
  </section>
</section>
