<form (submit)="onSubmit($event, form)" #form="ngForm">
  <h1>{{'CONTACT.contactUs' | translate | prettifyText }}</h1>
  <fieldset class="name">
    <legend>{{'CONTACT.myName' | translate | prettifyText}}</legend>
    <p>
      <span>
        <label for="contact_name">{{'CONTACT.name' | translate | prettifyText}}</label>
        <input id="contact_name" type="text" [(ngModel)]="name" name="name" #nameInput="ngModel"
               [attr.placeholder]="'CONTACT.namePlaceHolder' | translate | prettifyText"
               appToolTip required
        >
        <svg class="status status-center"
             [class.visible]="!nameInput.pristine || nameInput.touched || form.submitted"
             viewBox="0,0 6,6">
          <polyline [class.invalid]="nameInput.invalid" stroke-width="1px" stroke="#FF3866" fill="none"
                    points="1,1 3,3 1,5 3,3 5,5 3,3 5,1"></polyline>
        </svg>
      </span>
      <span>
        <label for="contact_email">E-mail</label>
        <input id="contact_email" type="text" [(ngModel)]="email" name="email" #emailInput="ngModel"
               [attr.placeholder]="'CONTACT.emailPlaceHolder' | translate | prettifyText"
               appToolTip required>
        <svg class="status status-center"
             [class.visible]="!emailInput.pristine || emailInput.touched || form.submitted"
             viewBox="0,0 6,6">
          <polyline [class.valid]="emailInput.valid" stroke-width="1px" stroke="#37D773" fill="none"
                    points="1,4 2,5 5,2"></polyline>
          <polyline [class.invalid]="emailInput.invalid" stroke-width="1px" stroke="#FF3866" fill="none"
                    points="1,1 3,3 1,5 3,3 5,5 3,3 5,1"></polyline>
        </svg>
      </span>
    </p>
  </fieldset>
  <fieldset class="message">
    <legend>{{'CONTACT.message' | translate | prettifyText}}</legend>
    <p>
      <textarea #textArea
                #textNgModel="ngModel"
                name="message"
                [(ngModel)]="message"
                appToolTip
                required></textarea>
      <svg class="status"
           [class.visible]="!textNgModel.pristine || textNgModel.touched || form.submitted"
           viewBox="0,0 6,6">
        <polyline [class.valid]="textNgModel.valid" stroke-width="1px" stroke="#37D773" fill="none"
                  points="1,4 2,5 5,2"></polyline>
      </svg>
    </p>


  </fieldset>
  <fieldset>
    <p class="button_area">
      <span class="invalid_info" [class.visible]="formStatus === 'invalid'">{{'CONTACT.sthWentWrong' | translate | prettifyText}}</span>
      <button type="submit" class="btn btn-yellow btn-large" [ngClass]="{ 'btn-loading':  formStatus === 'loading', 'btn-fail': formStatus === 'invalid', 'btn-success': formStatus === 'valid'}">
        {{'CONTACT.send' | translate | prettifyText}}
        <svg class="btn-status" viewBox="0,0 6,6">
          <polyline class="btn-success-cont" stroke-width="1px" stroke="#FFFFFF" fill="none"
                    points="1,3.5 2.5,4.5 5.5,1.5"></polyline>
          <polyline class="btn-fail-cont" stroke-width="1px" stroke="#FFFFFF" fill="none"
                    points="1,1 3,3 1,5 3,3 5,5 3,3 5,1"></polyline>
        </svg>
        <div class="loading">
          <div class="blob blob-1"></div>
          <div class="blob blob-2"></div>
          <div class="blob blob-3"></div>
          <div class="blob blob-4"></div>
        </div>
      </button>
    </p>
  </fieldset>
</form>
<!--<a>-->
  <!--<p class="navigateToEstimate">-->
    <!--<span> > </span>-->
    <!--<span>{{'CONTACT.requestEstimate' | translate | prettifyText}}</span>-->
  <!--</p>-->
<!--</a>-->
