div{
  position: absolute;
  width: 102px;
  height: 303px;
  top: 926px;
  left: 1210px;
  background-size: inherit;
  background-repeat: no-repeat;
  transform-origin: bottom left;
}

@keyframes closeDoor {
  from{transform: rotateY(149deg)}
  to{
    transform: rotateY(0deg);
  }
};


@keyframes openDoor {
  from{
    transform: rotateY(0deg);
  }
  to{
    transform: rotateY(149deg);
  }
}
