div{
  position: absolute;
  width: 59px;
  height: 304px;
  top: 1005px;
  left: 1226px;
  background-size: inherit;
  background-repeat: no-repeat;
  transform-origin: right;
}

@keyframes closeDoor {
  from{transform: skewY(50deg)}
  to{
    transform: skewY(0deg);
  }
};


@keyframes openDoor {
  from{
    transform: skewY(0deg);
  }
  to{
    transform: skewY(50deg);
  }
}
