<section class="container">
  <app-portfolio-details-header [title]="'PORTFOLIO.BrighterVision.title'"
                                [description]="'PORTFOLIO.BrighterVision.description.part1'"
                                [logo]="detail.thumbnail"></app-portfolio-details-header>
  <figure class="home-image">
    <figcaption>brighter vision home image</figcaption>
    <img src="assets/images/portfolio-images/brighter_home.png" alt="home image">
  </figure>
  <article class="postBooking">
    <h3>{{'PORTFOLIO.sectionTitles.postsBooking' | translate | prettifyText}}</h3>
    <p>
      <span>{{'PORTFOLIO.BrighterVision.description.part2' | translate | prettifyText}}</span>
      <span>{{'PORTFOLIO.BrighterVision.description.part3' | translate | prettifyText}}</span>
    </p>
  </article>
</section>

<figure class="site-presentation">
  <figcaption>Site presentation</figcaption>
  <img src="assets/images/portfolio-images/brighter.png" alt="brighter page image">
</figure>

<section class="wrapper">
  <section class="container">
    <article>
      <h3>{{'PORTFOLIO.sectionTitles.businessModel' | translate | prettifyText}}</h3>
      <p>
        <span>{{'PORTFOLIO.BrighterVision.description.part4' | translate | prettifyText}}</span>
        <span>{{'PORTFOLIO.BrighterVision.description.part5' | translate | prettifyText}}</span>
      </p>
    </article>
    <figure>
      <figcaption>Site presentation video</figcaption>
      <video *ngIf="!mobile" loop src="assets/videos/portfolio-details/brighter_1.mp4" poster="assets/images/portfolio-images/brighter_1.png"></video>
      <img *ngIf="mobile" src="assets/images/portfolio-images/brighter_1.png" alt="brighter presentation">
    </figure>
    <article>
      <h3>{{'PORTFOLIO.sectionTitles.arch/tech/tool' | translate | prettifyText}}</h3>
      <p>
        <span>{{'PORTFOLIO.BrighterVision.description.part6' | translate | prettifyText}}</span>
        <span>{{'PORTFOLIO.BrighterVision.description.part7' | translate | prettifyText}}</span>
      </p>
    </article>
    <app-architecture [currentTechnologies]="detail.technologies" [currentTools]="detail.tools" [technologies]="technologies" [tools]="tools" (navigate)="navigate($event)"></app-architecture>
  </section>
</section>

<app-carousel [currentElement]="id" [portfolio]="portfolio" (navigate)="navigate($event)"></app-carousel>
