.section-audit-details {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent #fee03c transparent transparent;
  color: #515151;


  .audit-details-panel {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 80px;
    right: 80px;

    &-header {
      font-size: 7.2em;
      margin: 0;
    }

    &-text {
      font-size: 1.6em;
      word-wrap: break-word;
      margin: 80px 0;
      width: 50%;
    }

    .audit-details-table {
      display: flex;
    }

    .details {
      text-align: center;

      h2 {
        font-size: 2.8em;
      }
    }
  }
}
