@import '../../../../assets/styles/typography';
@import "../../../../assets/styles/mediaQueries";
@import "../../../../assets/styles/elements";

:host{
  width:100%;
  display:block;
  background-repeat: no-repeat;
}
.container{
  width: 90%;
  margin: auto;
}

.usability-panel{
  padding-top: 12em;
  h1{
    margin: .3em 0 0 0;
  }
  .usability-panel-text{
    width: 40%;
    line-height: 1.5em;
    @media #{$tablet}{
     width: 70%;
    }
  }
  .usability-table{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 40px auto;
    app-list{
      width:80%;
      margin:0 auto;
      &:nth-of-type(2){
        margin-top: 20px;
      }
    }
  }
  .details{
    padding: 200px 0;
    text-align:center;
  }
}


@media screen and (min-width: 850px) {
  .usability-panel {
    .usability-table{
      app-list{
        width: 46%;
        &:nth-of-type(2){
          margin-top: 0;
        }
      }
    }
  }
}

@keyframes bgFadeIn {
  from{
    opacity:0
  }
  to{
    opacity: 1;
  }
}

/deep/
#triangle0 {
  ul.list {
    min-height: 800px;
  }
    .white{
      color:#fff;
      text-transform: uppercase;
    }
  button.btn{
    background: #ffffff;
  }
}


/deep/
#triangle1 {
  ul.list{
    min-height: 400px ;
    background: #fff;}
  .white{
    color:#ccc;
    text-transform: uppercase;
  }
  button{
    background: #FFDE07;
  }
}
