.container{
  width: 80%;
  margin: auto;
}
canvas{
  display: none;
}
#audit0, audit1{
  width: 100%;
}
.usability-panel{
  padding-top: 4em;
  .usability-panel-header {
    font-size: 5.5em;
}
  .usability-panel-text{
    width: 50%;
    padding: 2em 0;
  }
  .usability-table{
    width: 100%;
    display: flex;
    justify-content: space-between;
    app-list{
      width:45%;
      margin: 4em 0;
    }
  }
  .details{
    padding: 10% 0;
    text-align:center;
    button{
      background: #fff;
      border:none;
      box-shadow: 0 0 4px 4px rgba(0,0,0,0.2s);
      padding:1.3em 2em;
    }
  }

}
