
<div class="section-usability" id="{{'triangle' +indexID}}">
  <canvas #Canvas></canvas>
  <div class="container">
  <div class="usability-panel">
    <h1 class="usability-panel-header">{{'AUDIT.title' | translate}}</h1>
    <h1 class="usability-panel-header">{{audit.title | translate}}</h1>
    <p class="usability-panel-text">{{audit.description  | translate}}</p>
    <div class="usability-table">
      <app-list [title]="'UTILITIES.tasks' | translate" [source]="1" [listData]="audit.items"></app-list>
      <app-list [title]="'UTILITIES.benefits' | translate" [source]="0" [listData]="audit.items"></app-list>
    </div>
      <div class="details">
        <h2>{{'UTILITIES.showDetails' | translate}}</h2>
        <button class="btn btn-color btn-large">{{'UTILITIES.sendRequest' | translate}}</button>
      </div>
    </div>
  </div>
  </div>

