@import '../../../../assets/styles/mediaQueries.scss';

.container {
  width:100%;
  padding:0 20px;
  box-sizing: border-box;
  margin: 8em auto;
}
.header{
  text-align: left;
  margin-bottom: 4em;
}

