:host {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
  color: #282828;
  transition: color .5s;
  &.white {
    color: #ffffff;
    .dropdown > .dropbtn {
      border-color: #ffffff;
    }
    .dropdown-content {
      border-right: solid 3px #ffffff;
    }
    ul > li > span:after {
      background: #ffffff;
    }
  }

  ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    align-items: center;
    li {
      position: relative;
      padding: 0 17.5px;
      &:last-child {
        padding-right: 0;
      }
      &.disabled {
        position: absolute;
      }
      &.active > span {
        &:after {
          width: 100%;
        }
      }
      & > span {
        outline: none;
        text-transform: uppercase;
        white-space: nowrap;
        cursor: pointer;
        position: relative;
        font-weight: 700;
        font-size: 1em;
        letter-spacing: 1px;
        &:after {
          content: '';
          height: 4px;
          width: 0;
          position: absolute;
          background: black;
          bottom: -20px;
          left: 0;
          transition: width .3s;
        }
        &:hover {
          &:after {
            width: 100%;
          }
        }
      }
    }
  }

  .dropdown {
    float: left;
    overflow: hidden;
    position: relative;
    &:hover {
      cursor: pointer;
      overflow: visible;
    }

    .dropbtn {
      margin-top: auto;
      font-size: 13px;
      font-weight: 700;
      border-right: solid 4px #282828;
      padding: 2px 14px;
    }

    &-content {
      display: none;
      position: absolute;
      border-right: solid 4px #282828;
      z-index: 1;
      padding: 0 10px;
      background-color: #ffffff;
      right: 0;
      a:first-of-type {
        span {
          padding: 16px 0 8px;
        }
      }
      span {
        font-size: 13px;
        margin-right: 1px;
        padding: 8px 0;
        font-weight: 700;
        display: block;
        text-align: right;
      }
    }

    &:hover .dropdown-content {
      display: block;
    }
  }
}
