:host{
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  height:40px;

  ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    align-items: center;
    li {
      &>span {
        text-transform: uppercase;
        white-space: nowrap;
        cursor: pointer;
        position: relative;
        padding: 0 0 0 35px;
        font-weight: 700;
        font-size: 1em;
        letter-spacing: 1px;

        &:last-child {
          padding-right: 0;
        }

        &:before {
          content: '';
          height: 2px;
          width: 0;
          position: absolute;
          background: black;
          bottom: 12px;
        }
      }
    }
  }

  .dropdown {
    float: left;
    overflow: hidden;
    position:relative;
    &:hover {
      cursor: pointer;
      overflow:visible;
    }

    .dropbtn {
      margin-top:auto;
      font-size: 13px;
      font-weight: 700;
      border-right: solid 2px #282828;
      padding: 2px 14px;
    }

    &-content {
      display: none;
      position: absolute;
      border-right: solid 2px #282828;
      z-index: 1;
      padding: 0 10px;
      background-color: #ffffff;
      right:0;

      span {
        font-size: 13px;
        margin-right: 1px;
        padding: 8px 0;
        font-weight: 700;
        display: block;
        text-align: right;
      }
    }

    &:hover .dropdown-content {
      display: block;
    }
  }
}
