@import '../../../../assets/styles/mediaQueries.scss';

.container {
  width: 80%;
  margin: 8em auto;
}
.header{
  text-align: left;
  margin-bottom: 4em;
}
.tools{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content:center;
}
.tools-col{
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  border:1px solid #eee;
  background-size: cover;
  img{
    box-sizing: border-box;
    padding: 20%;
    height:100%;
    width:100%;
    opacity: 1;
  }
}
.tools:after {
  content: "";
  display: table;
  clear: both;
}
