@import "../../../assets/styles/mediaQueries";

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

app-carousel {
  cursor: pointer;
}


app-contact-info {
  margin-top: 0;
}
