
:host{
  position:absolute;
  top:0;
  left:0;
  display:block;
  width: 10.769230769%;
  height: 5.53709856%;
  transition:all .2s;

  .desk{
    width:100%;
    height: 100%;
    background: #FFDE07;
    &.horizontal{
      transform: skew(-1deg) rotateY(-36deg) rotateX(56deg) scale(.97) rotateZ(29deg) ;
    }
    transform-origin: bottom left;
  }

}


.visible{
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
}

