<div id="triangle-head" (window:resize)="resizeBackground()">
<div class="section-audit">
  <div class="row">

      <div class="column" *ngFor="let audit of audits, let id=index">
        <img [src]="audit.image" alt="">
        <div class="title"><div class="little-triangle"></div>
        <h3>{{audit.title | translate }}</h3>
        <i [appScrollTo]='"triangle"+id' class="fa fa-chevron-down"></i>
          <p>przejdź</p>
        </div>
        </div>
      </div>
</div>
</div>
<canvas #canvas></canvas>
<app-audit-details  *ngFor="let audit of audits, let id = index" [audit]="audit" [indexID]="id"></app-audit-details>
