.section-audit{
  width: 100%;
  background: #666;
  padding-top: 2em;
  .start-panel-header{
    text-align: center;
    color:#fff;
    position: relative;
    top:-200px;
    animation: slideIn 1s forwards;

  }
  .row{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    padding: 2em;

    .column{
      width: 40%;
      position: relative;
      animation: slideIn 1s;
      animation-fill-mode: forwards;

      &:first-of-type{
        left:-25%
      }
      &:last-of-type{
        left:25%;
      }

      img{
        max-height: 100%;
        max-width:100%;
      }
    }
      a{
        color:#fff;
        text-decoration: none;
        font-size: 1.5em;
      }
    }
  }

@keyframes slideIn {
  from{
    opacity:0
  }
  to{
    opacity:1;
    left:0%;
    top:0;
  }
}
@media screen and (min-width: 850px){
  .section-audit{
  .row{
    .column{
      width: 25%;
    }
  }
}
}
