.section-audit {
  background-color: #8E8E8E;
  height: 50vh;
  text-align: center;

  .start-panel {

    &-header {
      font-size: 3em;
      text-align: center;
    }

    .row {
      display: flex;
      justify-content: center;

      .column {
        width: 30%;
      }
    }

    .column {
      width: 50%;
    }

    &-black-box,
    &-white-box {
      width: 259px;
      height: 190px;
    }

    &-black-box {
      background-color: #000000;
      border: thin solid black;
    }

    &-white-box {
      background-color: #ffffff;
      border: thin solid #797979;
    }
  }
}
