<div class="section-audit">
  <div class="start-panel">
    <div class="row">
      <div class="start-panel-header">Audyty</div>
    </div>
    <div class="row">
      <div class="column" *ngFor="let audit of audits">
        <a href="#" class="audit-image" (click)="onSkip($event, target)"><img [src]="audit.image" alt=""></a>
        <div class="row">
          <a href="#" class="audit-title" (click)="onSkip($event, target)">{{audit.title}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<div  #target>-->
  <!--<app-quality></app-quality>-->
<!--</div>-->
<!--<app-usability></app-usability>-->
