:host{
  width:100%;
  overflow: hidden;
  display:block;
  padding: 80px;
  margin-left: -80px;
  h1{
    margin-left:-60px;
    margin-bottom:20px;
    font-size:1.6rem;
  }
  section{
    margin-left:-80px;
    display:flex;
    flex-wrap: wrap;
    width:150%;
    figure{
      overflow: hidden;
      margin: 0;
      padding-right: 40px;
      width: 50%;
      height:100%;
      box-sizing: border-box;
      &:nth-of-type(3),&:nth-of-type(4){
        margin-top: 40px;
        transform: translateX(-46%);
      }
      img{
        width:100%;
      }
      figcaption{
        display:none;
      }
    }
  }
}
