:host{
  display:block;
  width:100%;
  position:absolute;
  &>*{
    position:relative;
    z-index: 25;
  }
  .line{
    position:absolute;
    z-index: 24;
    left:50%;
    top:16.5%;
    width:7px;
    //height: 27.16%;
    height:30%;
  }
  .bg-triangle{
    position:absolute;
    z-index:23;
    top:0;
    left:0;
    height: 170vh;
    width:100%;
    display:flex;
    align-items: flex-end;
    svg{
      width:100%;
    }
  }
}
