@import "../../../../../assets/styles/mediaQueries";
:host {
  width: 100%;
  display: flex;
  justify-content: center;
  @media #{$home-information-mobile}{
    flex-wrap: wrap;
  }
  figure {
    width: 355px;
    text-align: center;
    img {
      width: 80%;
    }
    figcaption {
      margin-top:20px;
      font-size: 1.6rem;
    }
  }
}
