<footer class="footer" [ngStyle]="{'background-color':backgroundColor}">
  <section class="footer_bar">
    <section class="footer_vcard">
      <p>{{company.email}}</p>
      <p>{{company.phone}}</p>
    </section>
    <div class="footer_slideTop">
      <span aria-hidden="true" class="fa fa-chevron-up fa-3x"></span>
    </div>
  </section>
  <section class="footer_content">
    <section class="footer_copyright">
      <div class="footer_triangle">
        <svg viewBox="0 0 21.89 25.89">
          <defs>
            <style>.cls-1{fill:#ffdf00;}</style>
          </defs>
          <g data-name="layer one" id="Layer_one">
            <polygon class="cls-1" points="0 25.86 23 25.86 0.05 0"></polygon>
          </g>
        </svg>
      </div>
      <p>Copyrights 2017</p>
    </section>
    <ul class="footer_socialmedia">
      <li app-social-service [color]="'#ff0099'" [socialName]="'instagram'" (hoverColor)="changeBg($event)" ></li>
      <li app-social-service [color]="'#3333ff'" [socialName]="'facebook'"  (hoverColor)="changeBg($event)" ></li>
      <li app-social-service [color]="'#6699ff'" [socialName]="'linkedin'"  (hoverColor)="changeBg($event)" ></li>
    </ul>
  </section>
</footer>
