@import '../../../assets/styles/mediaQueries';

:host {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 380px;
  width: 100%;
  z-index: -100;
  overflow-x: hidden;
  @media #{$tablet}{
    z-index: 1;
    position: relative;
    height: 300px;
  }
}

.footer {
  transition: background .5s;
  height: 380px;
  background: #282828;

  h1 {
    margin: 0;
  }
}

.footer_bar {
  width: 100%;
  color: #AEAEAE;
  background: #f2f2f2;
  display: flex;
  justify-content: space-between;
  position: relative;
  .footer_vcard {

    display: flex;
    width: 50%;
    box-sizing: border-box;
    justify-content: space-around;
    align-items: center;
    position: relative;
    a {
      color: #AEAEAE;
      margin: 0;
    }
    a p {
      font-weight: 400;
      text-align: center;
      padding: 15px 0;
      position: relative;
      cursor: pointer;
      &:hover .hover {
        opacity: 1;
        top: -10%;
      }
      .hover {
        position: absolute;
        display: block;
        left: -25%;
        top: 50%;
        width: 150%;
        text-align: center;
        pointer-events: none;
        opacity: 0;
        z-index: 40;
        transition: .5s;
        &.copied {
          animation: fadeCopied;
          animation-fill-mode: forwards;
          animation-duration: .5s;
        }
        @media #{$phone}{
          left: 20px;
          text-align: left;
        }
      }
      @media #{$phone}{
        position: initial;
      }
    }
    @media #{$xl-computer}{
      width: 35%;
    }
    @media #{$tablet-media}{
      width: 65%;
    }
    @media #{$phone}{
      width: 80%;
      flex-wrap: wrap;
      padding: 15px 0;
      a {
        width: 100%;
        p {
          width: 100%;
          padding: 0;
          margin: 0;
          margin-left: 20px;
          text-align: left;
        }

      }
      :last-child p {
        margin-top: 10px;
      }
    }
  }

  .footer_slideTop {
    display: flex;
    width: 80px;
    height: 100%;
    background: #e4e4e4;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    transition: background .3s;
    cursor: pointer;
    &:hover {
      background: #d0d0d0;
    }
    span {
      text-align: center;
      width: 100%;
    }
  }
}

.footer_content {
  display: flex;
  height: 280px;
  box-sizing: border-box;
  padding: 0 10%;
  @media #{$mobile} {
    padding: 0 5%;
  }
  color: #FFFFFF;
  .footer_copyright {
    color: #FFFFFF;
    flex: .5;
    display: flex;
    align-items: center;
    @media #{$phone}{
      width: 40%
    }
    .footer_triangle {
      padding-right: 15px;
      width: 32px;
      height: 32px;
    }
  }
  .footer_socialmedia {
    list-style: none;
    flex: .5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @media #{$phone}{
      zoom: 0.7;
    }
  }
}


@keyframes fadeCopied {
  0% {
    color: #AAAAAA;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
