@import "../../../../assets/styles/mediaQueries";
:host{
  width:100%;
  display: flex;
  flex-wrap: wrap;
}

.column {
  @media #{$phone}{
    width: 100%;
  }
  @media #{$tablet}{
    width: 50%;
  }
  @media #{$phone-tablet}{
    width: 33.33%;
  }
  @media #{$computer}{
    width: 20%;
  }
  @media #{$xl-computer}{
    width: 16.6%;
  }
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid #eee;
  background-size: cover;
  img {
    width: 100%;
    height: 100%;
    transition: .5s;
    &:hover {
      background: #eeeeee;
    }
  }
}

