<div class="audit-panel">
  <h1 class="audit-panel-header">Audyt</h1>
  <h1 class="audit-panel-header">Code Quality</h1>
  <div class="column">
    <p class="audit-panel-text">Audyt zastosowanej technologii  i architektury aplikacji, Audyt kodu źródłowego Audyt skalowalności i wydajności aplikacji.</p>
    <p class="audit-panel-text">Często gdy ktoś wynajmuje firmę do wykonania oprogramowania jest zmuszony zaakceptowac produkt jaki dostanie i nie ma możliwości sprawdzenia co siedzi pod maską, czy to z braku własnych zasobów by to zrobić czy też ze względu na czas. Tutaj wchodzi Code Mine - możemy być filtrem/tarczą między klientem a wykonawcą sprawdzając i oceniając rozwiązania jakie zastosowano i czy na pewno spełniają one wymaania, czy są bezpieczne, na casie i czy system będzie elastyczny na przyszłość. Sprawdzamy kod pod każdym względem, od zgodności ze standardami do oceny wydajności i wielkości długu technologicznego.</p>
  </div>
  <table class="table">
    <thead>
    <tr class="table-header">
      <th>Zadania</th>
      <th>Korzyści</th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-row">
      <td>Test</td>
      <td>Test</td>
      <!--<td>Możliwość identyfikacji problemów z czytelnością kodu oraz otrzymania rekomendacji co do jego poprawy co może znacznie wpłynąć na łatwość pracy nad projketem w zespołach.</td>-->
    </tr>
    <tr class="table-row">
      <td>Test</td>
      <td>Test</td>
    </tr>
    <tr class="table-row">
      <td>Test</td>
      <td>Test</td>
    </tr>
    <tr class="table-row">
      <td>Test</td>
      <td>Test</td>
    </tr>
    <tr class="table-row">
      <td>Test</td>
      <td>Test</td>
    </tr>
    </tbody>
  </table>
  <div class="details">
    <h2>Chcesz poznać więcej szczegółów ?</h2>
    <button class="btn btn-color btn-large">Wyślij zapytanie</button>
  </div>
</div>
