@import "../../../../../assets/styles/mediaQueries";

.horizontal {
  color: #333;
  position: absolute;
  top: 0;
  right: 0;
  height: 85vh;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 7.5vh;
  text-align: center;
  overflow: hidden;
  transition: opacity .5s;
  @media #{$tablet-media}{
    width: 40px;
  }
  @media #{$phone}{
    display: none;
  }
  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
  p {
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
  }

  .sliderMain {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media #{$phone}{
      height: 25vh;
    }
    .sliderTitle {
      display: block;
      transform: rotate(-90deg);
      h3 {
        width: 20vh;
        font-size: 1.2rem;
        margin: 0;
      }
    }
  }
}

.borderDiv {
  height: 20vh;
  width: 1px;
  border-right: 1px solid #333;
  margin: auto;
}

.pointer {
  cursor: pointer;
}

p:last-child {
  position: relative;
  &:after {
    content: '';
    width: 26px;
    position: absolute;
    bottom: 150%;
    left: 50%;
    transform: rotate(-45deg) translateX(-50%);
    transform-origin: bottom left;
    border-top: 3px solid #282828;
  }
}
