<div class="horizontal">
  <h3 [appScrollTo]="'home_information_'+(prevElement-1)" [appScrollToOpponent]="scrollOpponent" [appLocationOnScreenAfterScrolling]="'center'" >{{prevElement}}</h3>
  <div class="borderDiv"></div>
  <div class="sliderMain">
    <h3>{{currentElement}}</h3>
    <div class="sliderTitle">
      <p>{{informations[currentElement-1].title | translate}}</p>
    </div>
  </div>
  <div class="borderDiv"></div>
  <h3 [appScrollTo]="'home_information_'+(lastElement-1)" [appScrollToOpponent]="scrollOpponent" [appLocationOnScreenAfterScrolling]="'center'">{{lastElement}}</h3>
</div>
