<div class="container">
  <div class="project">
    <div class="project-image">
      <img [src]="project.mainImage" [attr.alt]="project.title+'image'">
      <button (click)="onClick($event)" class="btn btn-yellow btn-large btn-shadow">{{'PORTFOLIO.showMore' |
        translate}}
      </button>
    </div>
    <div class="project-details">
      <div class="project-desc">
        <div class="desc-info">
          <h1>{{project.title | translate}}</h1>
          <p>{{project.description | translate}}</p>
        </div>
      </div>
      <div class="project-tech">
        <h4>{{'PORTFOLIO.sectionTitles.technologies' | translate}}</h4>
        <div class="technologies">
          <app-architecture [technologies]="technologies" [tools]="tools" [currentTechnologies]="project.technologies"
                            [currentTools]="project.tools" (navigate)="onNavigate($event)"
                            [small]="true"></app-architecture>
        </div>
      </div>
    </div>
  </div>
</div>
