<div class="container">
  <div class="project"  >
    <div class="project-image" [ngStyle]="{'background-image': 'url(' + project.mainImage + ')'}">
      <p (click)="onClick()">zobacz wiecej</p>
    </div>
    <div class="project-details">
      <div class="project-desc">
        <div class="desc-img"><img [src]="project.thumbnail"></div>
        <div class="desc-info">
          <h1>{{project.title}}</h1>
          <p>{{project.description}}</p>
          <div class="tags">
            <p *ngFor="let tag of project.tags.technology">{{tag}}</p>
            <p *ngFor="let tag of project.tags.languages">{{tag}}</p>
            <p *ngFor="let tag of project.tags.products">{{tag}}</p>
          </div>
        </div>
      </div>
      <div class="project-tech" >
        <h4>Technologie</h4>
        <div class="technologies">
          <app-square-image *ngFor="let tech of project.technologies" [width]="70" [image]="tech.thumbnail"></app-square-image>
        </div>
      </div>
    </div>
  </div>
</div>