<div class="background" [ngStyle]="{background: offerElement.color}">
  <svg viewBox="0,0 50,50">
    <polygon points="20,0 50,0 50,30" style="fill:white;"/>
  </svg>
</div>
<nav class="navigation">
  <a [routerLink]="'/home' | localize">
    <svg class="home" viewBox="0 0 21 21">
      <defs>
        <style>.cls-1 {
          fill: #ffdf00;
        }</style>
      </defs>
      <g id="Layer_one" data-name="layer one">
        <polygon class="cls-1" [attr.points]="'0,21 21,21 0,0'"></polygon>
        <polygon class="cls-1" [attr.points]="'0,21 21,21 21,10 10,0 0,10'"></polygon>
      </g>
    </svg>
  </a>
  <a [routerLink]="getBackLink()">
    <img class="exit" src="assets/images/arrows/x.svg" alt="Back to main page">
  </a>
</nav>
<section class="content">
  <div class="info">
    <div class="title-row">
      <a [routerLink]="'../' + offerElement.prevUrl | localize">
        <img class="prev" src="assets/images/arrows/angle_left.svg" alt="Previous">
      </a>
      <div class="title">
        <svg #svg xmlns="http://www.w3.org/2000/svg" [attr.viewBox]="offerElement.icon.viewBox">
        </svg>
        <h1>{{ offerElement.title }}</h1>
      </div>
      <a [routerLink]="'../' + offerElement.nextUrl | localize">
        <img class="next" src="assets/images/arrows/angle_right.svg" alt="Next">
      </a>
    </div>
    <div class="row">
      <div class="col description">
        <div>
          <div class="title"><h4>{{ 'TECHNOLOGIES.description' | translate}}</h4></div>
          <div class="desc"><p>{{offerElement.description | translate}}</p></div>
        </div>

      </div>
      <section class="col picture">
        <div>
          <img *ngIf="offerElement?.img" [src]="offerElement?.img">
          <video *ngIf="offerElement?.movie" [src]="offerElement?.movie.movieUrl" [attr.poster]="offerElement?.movie.movieFrameUrl" autoplay loop>
            Sorry your browser does not support video
          </video>
          <img class="laptop" src="assets/images/komputer.svg">
        </div>

      </section>
    </div>
  </div>

</section>
