@import '../../../../assets/styles/mediaQueries';

:host {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3002;
}

.background {
  width: 100%;
  height: 100vh;
  background: #c4473a;
  position: fixed;
  top: 0;
}

.content {
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 3003;
}

.navigation {
  width: 100%;
  a > * {
    position: fixed;
    z-index: 3004;
  }
  .home {
    top: 40px;
    left: 40px;
    width: 37px;
    polygon {
      transition: all .5s;
    }
    polygon:nth-child(2) {
      opacity: 0;
    }
    &:hover {
      polygon:nth-child(1) {
        opacity: 0;
      }
      polygon:nth-child(2) {
        opacity: 1;
      }
    }
    @media #{$phone}{
      top: 20px;
      left: 20px;
    }
  }
  .exit {
    top: 40px;
    right: 40px;
    height: 30px;
    @media #{$phone}{
      top: 20px;
      right: 20px;
    }
  }
}

.info {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  @media #{$tablet}{
    overflow: scroll;
  }
  .row {
    display:flex;
    flex-wrap: wrap;
    flex:1;
    height: 70%;
    width: 100%;
    margin-bottom: -10px;
    .col {
      overflow: hidden;

      &.description {
        min-height: 100%;
        display: flex;
        align-items: center;
      }
      width: 50%;
      @media #{$tablet}{
        width: 100%;
      }
    }
    .description > div {
      width: 60%;
      margin: 0 auto;
      @media #{$tablet}{
        width: 80%;
      }
      .title {
        font-size: 1.5rem;
      }
    }
    .picture{
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      @media #{$tablet}{
        margin-top: 40px;
        justify-content: center;
      }
      div{
        max-height:572px;
      }
      img{
        width:100%;
      }
    }
  }

  .title-row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    padding: 60px 0 0;
    .title {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      letter-spacing: normal;
      svg {
        height: 160px;
        fill: #fff;
        filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, .3))
      }
      @media #{$phone}{
        h1{
          font-size: 3.6rem;
          margin-left: -15px;
        }
        svg{
          height: 100px;
        }
      }
      @media only screen and (max-width: 350px){
        h1{
          font-size: 2.4rem;
          margin-left: -5px;
        }
        svg{
          height: 90px;
        }
      }
    }
    .next, .prev{
      height: 45px;

    }
    .next {
      margin-right: 40px;
      @media #{$phone}{
        margin-right: 20px ;
      }
    }
    .prev {
      margin-left: 40px;
      @media #{$phone}{
        margin-left: 20px ;
      }
    }
  }
}

