<div class="section-contact">
  <div class="contact-panel">
    <div class="container">
      <div class="row row-contact">
        <div class="col-contact contact-box">
          <div class="contact-box-header">Skontaktuj się z nami!</div>
          <div class="row contact text">
            <div class="contact-email">{{company.email}}</div>
            <div class="contact-phone">{{company.phone}}</div>
          </div>
          <div class="row address text">
            <div>{{company.street}} {{company.apartment}}</div>
            <div>{{company.city}}, {{company.country}}</div>
          </div>
          <div class="row localization text">
            <div class="contact-local">Zobacz na mapie</div>
          </div>
        </div>
        <div class="col-contact contact-box">
          <div class="contact-box-header">Hire us!</div>
          <div class="row row-brief text">
            <span>Opisz nam swój pomysł, formularz pomoże ci sprecyzować czego będzie on dotyczył.</span>
          </div>
          <div class="row row-brief">
            <button class="btn btn-color btn-large">Przejdź do briefu</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
