@import "../../../../assets/styles/mediaQueries";

h3{
  color:#ccc;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}
h2{
  font-weight: 600;
  text-align: center;
}
.instagram_box{
  width:80%;
  display:flex;
  flex-wrap: wrap;
  margin: 100px 10% 100px;
  justify-content: center;
}
.row{
  width: 80%;
  margin: 4em auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .col{
    width: 22%;
    background: #eee;
    margin-bottom: 2em;
  }
}
