@import "../../../../assets/styles/mediaQueries";

h1 {
  font-size: 3.6rem;
  margin:100px 0 0;
}

.instagram_box {
  display: flex;
  flex-wrap: wrap;
  margin: 20px -20px 100px;
  justify-content: space-between;
  @media #{$phone}{
    margin: 40px 0 50px;
    width: 100%;
  }
}
