:host {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: .3s;
  box-sizing: border-box;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;

  &.box {
    padding: 80px;
    box-sizing: border-box;
    div > section > header > img {
      margin-top: -80px;
      margin-left: -80px;
    }
  }
  &.hidden_motto {
    .home_section article {
      display: none;
    }
  }

  &.followBox {
    .scrollable_box {
      .process_scroll_box {
        position: initial;
        pointer-events: none;
      }
    }
  }
}

.over-hidden{
  width:100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  &:after{
    content: '';
    display: block;
    position: absolute;
    width:100%;
    height: 100%;
    box-shadow: inset 0 0 50px rgba(161, 161, 161, .35);
    top:0;
    left:0;
    pointer-events: none;
  }
}

.scrollable_box {
  width: 100%;
  height: 100%;
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  section {
    height: 100%;
    width: 100%;
    position: relative;

    &.home_section {
      overflow: hidden;
      padding-bottom: 80px;
      background: #282828;
      header {
        position: absolute;
        left: 0;
        top: 0;
        img {
          height: 100vh;
          pointer-events: none;
          transition: .3s;
        }
        .logo {
          position: absolute;
          left: 0;
          top: 0;
          transform-origin: left top;
          transform: translate(45%, 15%) scale(0.7);
        }
      }
      article {
        position: absolute;
        top: 50%;
        left: 50%;
        color: #ffffff;
        transform: translateY(-50%);
        h1, p {
          margin: 0;
          font-size: 3.6rem;
          line-height: normal;
        }
        p {
          font-weight: 300;
          max-width: 380px;
        }
      }
    }
    &.howWeWork {
      color: #282828;
      position: relative;
      box-sizing: border-box;
      background: #282828;
      article {
        max-width: 570px;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 80%;
        transform: translate(-50%, -50%);
        background: rgb(242, 242, 242);
        padding: 60px;
        text-align: center;
        h3 {
          font-size: 4.8rem;
          margin: 0;
        }
        p {
          font-size: 2.4rem;
          margin-bottom: 0;
          font-weight: 500;
          line-height: normal;
        }

      }
      svg {
        position: absolute;
        right: 0;
        bottom: 100%;
      }
    }
    &.process_scroll_box {
      width: 100%;
      background: transparent;
      overflow: hidden;
      transition: background .5s;
      .follow_box {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        position: absolute;
        display: flex;
        left: 0;
        top: 0;
      }
    }
    &.hireUs {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      background: #ffffff;
      h3 {
        font-size: 3.6rem;
        font-weight: 800;
        margin: 0;
      }
      p {
        max-width: 480px;
        font-size: 2.4rem;
        margin: 40px 0;
      }

      .btn {
        font-weight: 800;;
      }
    }
  }
}
