.slogan-wrapper {
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: scroll;
  text-align: center;
}

.start-slogan {
  font-size: 3em;
  text-align: center;
  font-weight: 500;
}

