@import "../../../../../assets/styles/mediaQueries";

:host{
  display:block;
  overflow: hidden;
  height: 85vh;
  margin: 7.5vh 80px;
  position:relative;
  z-index:8;
  @media #{$phone}{
    margin: 7.5vh 0;
  }
  @media #{$tablet}{
    &.vertical{
      margin: 7.5vh 0;
    }
  }

  &.border{
    &>.borderDiv{
      box-shadow:inset 0 0 10px 10px rgba(0,0,0,0.1);
    }
  }
  .borderDiv{
    position: absolute;
    z-index: 50;
    left:0;
    top:0;
    width:100%;
    height: 100%;
    transition: box-shadow .5s;
    pointer-events: none;
  }
  &>*{
    transition: transform 1.5s, background 0.7s;
  }
}
