<div #scrollableBox (scroll)="onScroll()">
  <section>
    <header [style.left]="shaftPosition+'px'">
      <img src="assets/images/home_page_background.jpg" alt="Home Image">
      <img class="logo" src="assets/images/logo.svg" alt="CODE MINE">
    </header>
    <article>
      <h1>{{'HOME.motto.subtitle' | translate}}</h1>
      <p> {{'HOME.motto.title' | translate}}</p>
    </article>
  </section>

  <section [style.height]="duration+'px'" [class.container]="boxContainer" class="process_scroll_box"></section>
</div>
