  <div class="row">
    <div class="col3"><h1>Skąd nazwa?</h1></div>
    <div class="col3"><p>Posiadając swoje biuro w samym sercu Katowic, wśród urokliwych kamienic i kopalnianych szybów,
      czujemy się silnie związani z naszym środowiskiem. Na wzór dawnych kopalni, z naszej branży staramy się wydobywać to, co najlepsze,
      jednocześnie przyczyniając się do zmieniania naszego regionu w polską dolinę krzemową.
      Z kolei wytwarzanie wysokiej jakości kodu jest dla naszych deweloperów na wagę złota, czarnego złota.</p></div>
    <div class="col3"><p>Zainspirowani otoczeniem, nie mogliśmy odciąć się od korzeni – wybraliśmy więc nazwę, podkreślającą z jednej strony nasze pochodzenie,
      a z drugiej – charakter. Tak powstał Code Mine.</p></div>
  </div>

