.carousel {
  overflow: hidden;
  margin-bottom: 80px;
  margin-top: 40px;

  &-list {
   display: flex;
   list-style: none;
   min-height: 600px;
   margin: 0;
   padding: 0;
   width: 100%;

   &-item {
     min-width: 100%;
     background-repeat: no-repeat;
     background-size: cover;
     transition: 1.5s;

     .carousel-desc {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       height: 100%;

       h1 {
         font-weight: 700;
         font-size: 4.8em;
         margin: 0
       }
     }
   }
  }
}
