<app-carousel-element *ngFor="let project of portfolio; let index = index"
                     [open]="visibleIndex"
                     [index]="index"
                     [direction]="direction"
                     [project]="project"
(navigate)="onNavigate($event)"></app-carousel-element>

<nav *ngIf="!disableNavigation">
  <figure class="next" (click)="nextProject()">
    <figcaption>Next</figcaption>
    <img src="assets/images/arrows/angle_right-white.svg" alt="right arrow">
  </figure>
  <figure class="prev" (click)="prevProject()">
    <figcaption>Previous</figcaption>
    <img src="assets/images/arrows/angle_left-white.svg" alt="left arrow">
  </figure>
  <ul class="dots">
    <li *ngFor="let project of portfolio; let index = index" (click)="setProject(index)" [class.active]="visibleIndex === index">
      <div>
        <img [src]="project.mainImage.big" alt="">
      </div>

    </li>
  </ul>
</nav>

<h3 *ngIf="!disableNavigation" >{{'PORTFOLIO.sectionTitles.nextProject' | translate}}</h3>

