@import "../../../../assets/styles/mediaQueries";
:host{
  display:flex;
  width:100%;
  overflow: hidden;
  position:relative;
  min-height: 600px;
  align-items: center;
  @media #{$home-information-vertical-mobile}{
    min-height: 300px;
  }
}
