:host{
  position:relative;
  z-index: 25;
  width:100%;
  display:block;
  color:#ffffff;
  text-align: center;
  text-shadow: 3px 3px 15px rgba(51, 51, 51, 0.64);
  padding: 20px 5%;
  box-sizing: border-box;
  h1{
    margin:10px 0;
  }
  h3{
    margin:10px 0;
  }
  button{
    margin-top:50px;
    transition: all .5s;
    outline: none;
    box-shadow: 7px 10px 30px rgba(161,161,161,.35);
    text-shadow: 3px 3px 15px rgba(51, 51, 51, 0.64);
    &:hover{
      background: #ffffff;
      color:#282828;
    }
  }
}
