:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.wrap {
  height: 100vh;
  overflow: hidden;
  position: relative;
  > div {
    width: 2920px;
    height: 1700px;
    position: absolute;
    background-repeat: no-repeat;
    transition: 0.1s;
  }
}

.scroll {
  height: 40px;
  background: white;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  margin-top: -40px;
  justify-content: center;
  cursor: pointer;
  i {
    font-size: 15px;
  }
}
