<div class="wrap" id="wrap"
     [ngStyle]="{'top': '-' + topOffset + 'px', 'max-width':'' + windowWidth + 'px'}"
     (mousemove)="mouseMove($event)"
     (mousedown)="mouseClick(false)"
     (mouseup)="mouseClick(true)">
  <div id="officeBg"
       [ngStyle]="{'background-image': 'url(./assets/images/office.svg)'}">
  </div>
  <div id="deskLayer" class="draggable">
    <app-desk #desk *ngFor="let person of employees, let i = index" id="desk{{i}}" [index]="i" [person]="person" ></app-desk>
    <app-door></app-door>
  </div>
</div>
<app-arrow></app-arrow>
<app-person></app-person>
