@import "../../../../assets/styles/colors";
:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 80vh;
}

.wrap {
  height: 100%;
  overflow: hidden;
  position: relative;
  max-width: 100%;

  > div {
    width: 2920px;
    height: 1700px;
    position: absolute;
    background-repeat: no-repeat;
    transition: 0.1s;
    left: -300px;
    top: -400px;
  }
}
.skip {
  text-align: center;
  width: 100%;
  i{
    margin: 1em;
    font-size: 2em;
  }
}
