@import '../assets/styles/mediaQueries';

:host {
    margin-top: 56px;

    >div {
	   display: flex;
    }
}

.scroll-animation {
  margin-bottom: 380px;
  background: white;
  box-shadow: 1px 1px 20px rgba(51,51,51,.35);
  @media #{$phone}, #{$tablet}{
    margin: 0;
  }
}

