@import '../assets/styles/mediaQueries';

:host {
    margin-top: 56px;

    >div {
	   display: flex;
    }
}

.scroll-animation {
  margin-bottom: 380px;
  background: white;
  box-shadow: 10px 0px 25px #777777;
  @media #{$phone}, #{$tablet}{
    margin: 0;
  }
}

