@import "../../../../../assets/styles/mediaQueries";
:host {
  display: block;
  width: 100%;
  p{
    font-weight: 500;
  }
  h3{
    margin: 20px 0;
  }
}

section {
  margin-top: 100px;
  width: 100%;
  video {
    width: 100%;
  }
}

.interface {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  & > * {
    width: 50%;
  }
  figure, article {
    margin: 0;
  }

  article > p {
    width: 80%;
  }

  article{
    @media #{$br1024}{
      width:100%;
      margin-bottom: 15%;
      p{
        width:100%;
      }
    }
  }



  figure {
    figcaption {
      margin: 20px 0;
      font-size: 1.6rem;
      font-weight: bold;
    }
    img {
      width: 120%;
      box-shadow: 10px 20px 50px rgba(161,161,161,.35);
      @media #{$br1024}{
        width:100%;
      }

    }
  }
  .after{
    margin-top: -15%;
    @media #{$br1024}{
      margin-left:-10%;
    }
  }
}


.process{
  margin-top:100px;
  p{
    display:flex;
    justify-content: space-between;
    span{
      width:45%;
      display:block;
    }
    @media #{$tablet}{
      flex-wrap: wrap;
      span{
        width:100%;
        &:last-child{
          margin-top: 20px;
        }
      }
    }
  }
}

.process_images{
  position: relative;
  figcaption{
    display:none;
  }
  figure{
    background: #c51431;
    margin:0;
    width:100%;
    padding-bottom: 5%;
    img{
      width: 125%;
      transform: translateX(-10%) scale(1.3);
    }
    video{
      margin-top:-100%;
      transform: scale(.655) translate(-39%, 55%) rotateX(-50deg) rotateY(0deg) rotateZ(-24deg) skew(9deg);
      box-shadow: -10px 30px 85px 18px rgba(0, 0, 0, 0.35);
    }
  }
}
.container.center{
  display:flex;
  justify-content: center;
  position:relative;
  z-index: 25;
  article{
    max-width: 570px;
  }
}

.YT-Video{
  position: relative;
  padding-bottom: 56.25%;
  height:0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.end{
  margin-bottom: 100px;
}

.triangle{
  max-width: 1000px;
  position: absolute;
  bottom:0;
  left:0;
  z-index: 20;
}

