<section class="container">
  <app-portfolio-details-header [title]="'PORTFOLIO.MidOceanBrands.title'"
                                [description]="'PORTFOLIO.MidOceanBrands.description.part1'"
                                [logo]="detail.thumbnail"></app-portfolio-details-header>
  <section class="video">
    <video autoplay loop [src]="'../assets/videos/portfolio-details/midocean_1.mp4'"
           [attr.poster]="'../assets/images/portfolio-images/midocean_1.mov.jpg'"></video>
  </section>


  <section class="interface">
    <article>
      <h3>{{'PORTFOLIO.sectionTitles.interface' | translate}}</h3>
      <p>{{'PORTFOLIO.MidOceanBrands.description.part2' | translate}}</p>
    </article>
    <figure class="before">
      <figcaption>{{'PORTFOLIO.sectionTitles.before' | translate}}</figcaption>
      <img src="../assets/images/portfolio-images/midocean_3.jpg" alt="before photo">
    </figure>
    <figure class="after">
      <figcaption>{{'PORTFOLIO.sectionTitles.after' | translate}}</figcaption>
      <img src="../assets/images/portfolio-images/midocean_2.png" alt="after photo">
    </figure>
  </section>

  <article class="process">
    <h3>{{'PORTFOLIO.sectionTitles.process' | translate}}</h3>
    <p>
      <span>{{'PORTFOLIO.MidOceanBrands.description.part3' | translate}}</span>
      <span>{{'PORTFOLIO.MidOceanBrands.description.part4' | translate}}</span>
    </p>
  </article>
</section>

<section class="process_images">
  <figure>
    <figcaption>Process presentation</figcaption>
    <img src="assets/images/portfolio-images/midocean_4.png" alt="process images">
    <video autoplay loop src="assets/videos/portfolio-details/midocean_3.mp4"
           poster="assets/images/portfolio-images/midocean_3.mov.jpg"></video>
  </figure>
</section>

<section class="container center">
  <article>
    <h3>{{'PORTFOLIO.sectionTitles.application' | translate}}</h3>
    <p>{{'PORTFOLIO.MidOceanBrands.description.part6' | translate}}</p>
  </article>
</section>

<section class="container center YT-Video">
    <iframe src="https://www.youtube.com/embed/btaaht9EE40?rel=0&amp;showinfo=0"
            frameborder="0" allowfullscreen></iframe>
</section>

<svg viewBox="0,0 1,1" class="triangle">
  <polygon fill="#fae240" points="0,0 1,1 0,1"></polygon>
</svg>

<section class="container center">
  <article>
    <h3>{{'PORTFOLIO.sectionTitles.technologies' | translate}}</h3>
    <p>{{'PORTFOLIO.MidOceanBrands.description.part5' | translate}}</p>
  </article>
</section>


<section #triangleSection class="container center end">
  <app-architecture [currentTechnologies]="detail.technologies" [currentTools]="detail.tools" [technologies]="technologies" [tools]="tools" (navigate)="navigate($event)"></app-architecture>
</section>



<app-next-project-preview [currentElement]="id" [portfolio]="portfolio" (navigate)="navigate($event)"></app-next-project-preview>
