@import "../../../../../assets/styles/mediaQueries";

:host {
  @media #{$phone}{
    display: none;
  }
}

.container.model {
  position: relative;
  margin-top: 100px;
  padding: 0;
  right: 0;
  @media #{$computer}{
    margin-top: -7%;
    right: -10%;
  }
  figure {
    margin:0;
    figcaption {
      display: none;
    }
    img {
      width: 100%;
    }
  }
}
