:host{
  width:100%;
  height: 95%;
}
.wrap {
  height: 100%;
  overflow: hidden;
  position: relative;
  max-width: 100%;
  transition: all .5s;
  > div {
    width: 2920px;
    height: 1700px;
    position: absolute;
    background-repeat: no-repeat;
    transition: 0.1s;
    left: -300px;
    top: -400px;
  }
  &.minimize{
      zoom: .6;
    & > div{
      left:0;
      top:50px;
    }
  }
}

