@import "../../../../../../assets/styles/mediaQueries";

:host{
  display: flex;
  align-items: center;
  @media #{$tablet-media-portrait}{
    height: 50%;
    width: 100%;
    figure img{
      width: 160%;
      transform: translateX(14%);
    }
  }
}
figure {
  margin: 0;
  figcaption {
    display: none;;
  }
  img {
    display: none;
    width: 100%;
    &.visible {
      display: block;
    }
  }
}
