<div id="personView" >
  <div id="personWrapper">
    <button (click)="closeButtonClicked()" ><img src="assets/images/arrows/x.svg"></button>
    <figure [class.hidden]="!visibleElement" class="bg" [ngStyle]="{'background-image': visibleElement ? 'url(./assets/images/people/'+ (visibleElement?.image?.normal ) +'), url(./assets/images/people/'+ (visibleElement?.image?.funny) +')' : ''}">
      <img class="normal" [src]="visibleElement?.image ? 'assets/images/people/'+ visibleElement?.image?.normal : '' " [attr.alt]="visibleElement?.name + ' photo'">
      <img class="funny" [src]="visibleElement?.image ?  'assets/images/people/'+ visibleElement?.image?.funny : '' " [attr.alt]="visibleElement?.name + ' funny photo'">
      <div #funnyCover id="funny-cover"></div>
    </figure>
    <div class="desc">
      <h2>{{visibleElement?.name}}</h2>
      <h3>{{visibleElement?.position}}</h3>
      <hr *ngIf="visibleElement">
      <p>{{visibleElement?.description | translate | prettifyText}}</p>
    </div>
  </div>
</div>
