<div id="personView" >
  <div id="personWrapper">
    <button (click)="closeButtonClicked()" ><img src="assets/images/arrows/x.svg"></button>
    <figure class="bg" [ngStyle]="{'background-image': visibleElement ? 'url(./assets/images/people/'+ (visibleElement?.image?.normal ) +'), url(./assets/images/people/'+ (visibleElement?.image?.funny) +')' : ''}">
      <div #funnyCover id="funny-cover"></div>
    </figure>
    <div class="desc">
      <h2>{{visibleElement?.name}}</h2>
      <h3>{{visibleElement?.position}}</h3>
      <hr>
      <p>{{visibleElement?.description | translate}}</p>
    </div>
  </div>
</div>
