<div class="header">
  <app-loadingbar></app-loadingbar>
  <div [routerLink]="'/' | localize">
    <app-logo [scrollTop]="scrollTop"></app-logo>
  </div>
  <div class="navbar">
    <ul>
      <li>
        <div class="dropdown">
          <div class="dropbtn">{{ translate.currentLang }}</div>
          <div class="dropdown-content">
            <a href="#" (click)="changeLanguage($event, lang)" *ngFor="let lang of translate.getLangs()" >
              <span *ngIf="lang!= translate.currentLang">{{lang}}</span>
            </a>
          </div>
        </div>
      </li>
      <li *ngFor="let nav of navigation" routerLinkActive="active">
        <span [routerLink]="'/'+ nav.href | localize">{{ nav.title | translate }}</span>
      </li>
    </ul>
  </div>
</div>
