@import "../../../assets/styles/colors.scss";
@import "../../../assets/styles/mixins.scss";
@import '../../../assets/styles/mediaQueries';

:host {
  @include custom-transition(0.2s);
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background: white;
  height: 60px;
  z-index: 3000;
  top: 0;
  padding: 10px 40px;
  box-sizing: border-box;
  @media #{$tablet-media}{
    padding: 10px 15px;
  }
  &.hideBG{
    background: transparent;
  }
}


