@import "../../../assets/styles/colors.scss";
@import "../../../assets/styles/mixins.scss";
@import '../../../assets/styles/mediaQueries';

.wrapper {
  position: relative;
  width: 115px;
  height:153px;
  img {
    width: 75px;
    height: 153px;
    cursor: pointer;
  }

  .triangle-svg {
    cursor: pointer;
    position: absolute;
    display:flex;
    justify-content: center;
    width: 43px;
    bottom: 0;
    right: -9px;
    z-index: 999999999999;
    @media #{$phone} {
      left: 0;
    }
  }
  svg{
    align-items: center;
    width:32px;
    height:32px;
  }
}

