:host{
  display:flex;
  width:100%;
  height: 85vh;
  position:relative;
  transition: background .7s;
  align-items: center;
  .hidden{
    opacity:0;
  }
  &>div{
    width:60%;
    height: 100%;
    box-sizing: border-box;
    padding:5%;
    position:relative;
    transition: opacity 300ms;

    &>div{
      width:90%;
      position: absolute;
      top:-1%;
      right:0%;
      transform: translateX(-5.4%);
    }
  }
  &>section{
    position:relative;
    width:40%;
    box-sizing: border-box;
    padding-right: 5%;
    transition: color .7s;
  }
}

.textHidden{
  position:absolute;
  top:0;
  left:0;
  opacity:0;
}
.text-white{
  color:#fff;
}
