@import "../../../../../assets/styles/mediaQueries";

:host {
  letter-spacing: 0;
  display: block;
}

.ourRole, .exchange-process, .architecture {
  margin-top: 100px;
  @media #{$tablet-media} {
    margin-top: 50px;
  }
}

.architecture {
  margin-bottom: 100px;
  @media #{$tablet-media} {
    margin-bottom: 50px;
  }
}

.ourRole, .implementation, .micro-services {
  padding: 100px 0;
  @media #{$tablet-media} {
    padding: 50px 0;
  }
}

figure {
  margin: 0;
  figcaption {
    display: none;
  }
  img {
    width: 100%;
  }
}

p {
  font-weight: 500;
  margin: 0;
}

h3 {
  margin: 0 0 20px;
}

.ourRole {
  background: #FFDE07;
  .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    & > * {
      width: 50%;
      @media #{$tablet-media} {
        width: 100%;
      }
    }

    article {
      @media #{$tablet-media} {
        margin-top: 40px;
      }
      p {
        max-width: 570px;
      }
    }

    figure {
      text-align: center;
      img {
        max-height: 250px;
        width: 50%;
      }
    }
  }
}

.implementation {
  position: relative;
  .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    & > * {
      width: 50%;
      @media #{$tablet-media} {
        width: 100%;
      }
    }

    article {
      p {
        max-width: 570px;
      }
    }
    figure {
      text-align: center;
      img {
        max-height: 250px;
        width: 90%;
      }
      @media #{$tablet-media} {
        margin-top: 40px;
      }
    }
  }
  svg {
    position: absolute;
    width: 100%;
    &.upper {
      top: 0;
      right: 0;
    }
    &.lower {
      bottom: 0;
      left: 0;
    }
  }
}

.micro-services {
  position: relative;
  background: #FFDE07;
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    h2 {
      margin: 0 0 40px;
      width: 100%;
    }
    article {
      width: 45%;
      margin-top: 40px;
      @media #{$tablet-media} {
        width: 100%;
      }
      img {
        height: 80px;
        margin-right: 10px;
      }
      h3 {
        display: flex;
        align-items: center;
      }
      p {
        max-width: 570px;
      }
    }
  }

}

.exchange-process {
  figcaption {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 40px;
    display: block;
  }
  img {
    max-width: 650px;
    margin: 0 auto;
  }

  img.exchange-process_full {
    display: block;
  }
  img.exchange-process_mobile {
    display: none;
  }
  @media #{$tablet-media} {
    img.exchange-process_full {
      display: none;
    }
    img.exchange-process_mobile {
      display: block;
    }
  }
}
