<section *ngFor="let element of details.detailsTemplate" [ngSwitch]="element.section">
  <app-portfolio-details-header *ngSwitchCase="'header'" [description]="element.description"  [logo]="details.thumbnail" [title]="element.title"></app-portfolio-details-header>
  <app-image *ngSwitchCase="'image'" [image]="element.image" [title]="element.title" [small]="element.small"></app-image>
  <app-text *ngSwitchCase="'text'" [texts]="element.text" [align]="element.align"></app-text>
  <app-images *ngSwitchCase="'4images'" [title]="element.title" [images]="element.images"></app-images>
</section>

