@import "../../../../assets/styles/mediaQueries";

:host{
  width:100%;
  padding:60px 80px 0px;
  box-sizing: border-box;
  display:block;
  position:relative;
  overflow: hidden;
  @media #{$phone}{
    padding:60px 20px;
  }
  section{
    position:relative;
    z-index: 25;
  }
  svg{
    position:absolute;
    top:100vh;
    left:0;
    width:100%;
    z-index: 20;
    .small_screen,.medium_screen,.extra_small_screen{
      display:none;
    }
    @media #{$phone}{
      .extra_small_screen{
        display: block;
      }
    }
    @media #{$tablet}{
      .small_screen{
        display:block;
      }
    }
    @media #{$home-information-mobile}{
      .medium_screen{
        display:block;
      }
    }
  }
}
