<app-portfolio-project [project]="details"></app-portfolio-project>

  <div class="details">
    <div class="container-small">

      <div class="mainView">
        <h3>01 Strona Główna</h3>
        <div class="mainViev-image">
          <img [src]="" alt="">
        </div>
      </div>
    </div>
  </div>




  <div class="container-small">
    <div class="responsive">
      <h3>02 Responsywność</h3>
      <div class="responsive-img">
        <img src="http://www.freeiconspng.com/uploads/tablet-png-17.png" >
      </div>
    </div>


  <div class="desc">
    <h3>03 Lorem Ipsum</h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Dolorem doloremque eum exercitationem laboriosam obcaecati veniam?
      Aliquid assumenda aut eaque quaerat, quisquam unde voluptatum?
      Blanditiis delectus et fuga soluta vel. Esse?</p></div>

</div>

<div class="other-views">
  <h3>04 Pozostałe widoki</h3>
  <div class="row">
    <div class="view"></div>
    <div class="view view-half"></div>
    <div class="view view-half"></div>
    <div class="view"></div>
    <div class="view"></div>
    <div class="view view-half"></div>
  </div>
</div>


<div class="container-small">
  <div class="lorem">
    <h3>05 Lorem Ipsum</h3>
    <div class="desc">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Culpa cupiditate magni neque quisquam saepe? Aliquid animi
        aspernatur autem consequatur ducimus fuga harum,
        in minima nihil nobis ratione repudiandae soluta veritatis!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Culpa cupiditate magni neque quisquam saepe? Aliquid animi
        aspernatur autem consequatur ducimus fuga harum,
        in minima nihil nobis ratione repudiandae soluta veritatis!</p>
    </div>
  </div>
</div>

<div class="container-smaller">
  <div class="pictograms">
    <h3>06 Piktogramy</h3>
    <div class="pics">
      <div class="pic"></div>
      <div class="pic"></div>
      <div class="pic"></div>
      <div class="pic"></div>
      <div class="pic"></div>
      <div class="pic"></div>
      <div class="pic"></div>
      <div class="pic"></div>
      <div class="pic"></div>
      <div class="pic"></div>
    </div>
  </div>
</div>
<div class="container-small">
  <h3>07 Typografia</h3>
  <div class="typo">
    <h1>AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpRrSsTtUuWwVvYyZz</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus error incidunt,
      itaque laudantium numquam officia quam quidem quos ullam. Animi est ipsa maiores necessitatibus,
      nisi perferendis quidem soluta tempore ullam Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      At, blanditiis dolor error labore non nulla quia? Consequatur distinctio doloribus ducimus,
      est explicabo facere iste, magnam numquam obcaecati, quo sunt voluptate.</p>
  </div>
</div>


<div class="container">

  <div class="eight">
    <h3>08 Lorem Ipsum</h3>
    <div class="row">
      <div class="col-3"></div>
      <div class="col-3"></div>
      <div class="col-3"></div>
    </div>
  </div>
</div>

<div class="container-smaller">
  <div class="video">
    <h3>09 Video</h3>
    <div class="vid">
      <div class="play"><img src="http://orig15.deviantart.net/3967/f/2014/046/c/f/simplistic_play_icon__ico__png__by_micahpkay-d6opha8.png" alt="play"></div>
    </div>
  </div>
</div>

<div class="container-small">

  <div class="mobile">
    <h3>10 Mobile</h3>
    <div class="row">
      <div class="mobile-view"></div>
      <div class="mobile-view"></div>
      <div class="mobile-view"></div>
      <div class="mobile-view"></div>
      <div class="mobile-view"></div>
      <div class="mobile-view"></div>
    </div>
  </div>
</div>


<div class="container">
  <div class="layout">
    <h3>11 Layout</h3>
    <div class="row">
      <div class="layout-col"></div>
      <div class="layout-col"></div>
      <div class="layout-col"></div>
    </div>
  </div>
</div>

<div class="container-small">
  <div class="last">
    <h3>12 Smaczki</h3>
    <div class="row"><div class="col"></div></div>
    <div class="row"><div class="col"></div><div class="col"></div></div>
    <div class="row"><div class="col"></div></div>
  </div>
</div>

<div class="container">
  <div class="next-project">
    <h2>Next project</h2>
  </div>
</div>
