@import "../../../../assets/styles/mediaQueries";

:host{
  width:100%;
  padding:60px 80px 100px;
  box-sizing: border-box;
  display:block;
  position:relative;
  overflow: hidden;
  &:last-child{
    padding-bottom: 0;
    margin-bottom: 0;
  }
  @media #{$phone}{
    padding:60px 20px;
  }
  section{
    position:relative;
    z-index: 25;

  }
  svg{
    position:absolute;
    width:100%;
    z-index: 23;
    &.topTriangle{
      top:75vh;
      right:0;
      @media #{$tablet}{
        top: 100vh;
      }
    }
    &.bottomTriangle{
      bottom:0;
      left:0;
      width:50%;
      @media #{$tablet}{
        width:100%
      }
    }
  }
  .bg{
    background: #ffdf00;
    width:100%;
    height: 100%;
    position:absolute;
    top:75vh;
    left:0;
    z-index: 22;
    @media #{$tablet}{
      top: 100vh;
    }
  }
}
