<div class="container">
  <div class="section-start">
    <div class="slogan-wrapper">
      <h2 class="start-slogan">We are...lorem ipsum dolor sit amet, <br>consectetur adipiscing elit, sed do <br>eiusmod tempor incididunt ut labores</h2>
    </div>
    <div class="box-start">
      <h2 class="header">Jak pracujemy?</h2>
      <p class="text">Sprawdź nasz proces realizacji bla bla....</p>
    </div>

    <div class="row box">
      <div class="col-box box-image box-with-margin"></div>
      <div class="col-box-text box-text">
        <span class="box-header">Tworzymy jednolity język komunikacji</span>
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>

    <div class="row box">
      <div class="col-box box-image"></div>
      <div class="col-box-text box-text">
        <span class="box-header">Zdobywamy wiedzę biznesową</span>
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>

    <div class="row box">
      <div class="col-box box-image"></div>
      <div class="col-box-text box-text">
        <span class="box-header">Tworzymy logikę biznesową</span>
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>

    <div class="row box">
      <div class="col-box box-image"></div>
      <div class="col-box-text box-text">
        <span class="box-header">Tworzymy szczegółową specyfikację projektu</span>
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>

    <div class="row box">
        <div class="col-box box-image"></div>
      <div class="col-box-text box-text">
        <span class="box-header">Rysujemy makiety UX</span>
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <button class="btn btn-color btn-large">Zobacz więcej</button>
      </div>
    </div>

    <div class="row box">
      <div class="col-box box-image"></div>
      <div class="col-box-text box-text">
        <span class="box-header">Implementujemy</span>
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <button class="btn btn-color btn-large">Sprawdź naszą ofertę</button>
      </div>
    </div>

    <div class="row box">
      <div class="col-box box-image"></div>
      <div class="col-box-text box-text">
        <span class="box-header">Wdrażamy</span>
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <button class="btn btn-color btn-large">Sprawdź realizacje</button>
      </div>
    </div>

    <div class="row box">
      <div class="col-box box-image"></div>
      <div class="col-box-text box-text">
        <span class="box-header">Wspieramy</span>
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <button class="btn btn-color btn-large">Poznaj nasz zespół</button>
      </div>
    </div>

    <div class="box-center">
      <div class="row">
        <div class="box-center-text">
          <span class="box-header">CTA do formularza</span>
        </div>
      </div>
      <div class="row">
        <button class="btn btn-color btn-large">Cta</button>
      </div>
    </div>
  </div>
</div>
