<div class="container">
  <div class="header"><h2>{{Architecture.title | translate }}</h2></div>

  <div class="row-first">
    <div class="col"><img src="assets/images/database.png" ></div>
    <div class="col"><img src="assets/images/database.png" ></div>
    <div class="col"><img src="assets/images/database.png" ></div>
    <div class="col"><img src="assets/images/database.png" ></div>
  </div>

  <div class="row-sec">
    <div class="col">
      <div class="squares">
       <img src="assets/images/square.png">
       <img src="assets/images/square-sm.png">
       <img src="assets/images/square-sm.png">
      </div>
    </div>
    <div class="col">
      <div class="squares">
        <img src="assets/images/square.png">
        <img src="assets/images/square-sm.png">
        <img src="assets/images/square-sm.png">
      </div>
    </div>
    <div class="col">
      <div class="squares">
        <img src="assets/images/square-sm.png">
        <img src="assets/images/square.png">
        <img src="assets/images/square.png">

      </div>
    </div>
    <div class="col">
      <div class="squares">
        <img src="assets/images/square-sm.png">
        <img src="assets/images/square.png">
        <img src="assets/images/square.png">

      </div>
    </div>
    <div class="col">
      <div class="squares">
        <img src="assets/images/square-sm.png">
        <img src="assets/images/square.png">
        <img src="assets/images/square.png">

      </div>
    </div>
    <div class="col">
      <div class="squares">
        <img src="assets/images/square.png">
        <img src="assets/images/square.png">

      </div>
    </div>
  </div>

  <div class="user"><img src="assets/images/user.png" alt="user"></div>
</div>
