@import "../../../../../assets/styles/mediaQueries";

:host {
  display: block;
  width: 100%;
}
:host.center{
  app-offer-thumbnails{
    justify-content: center;
  }
}

/deep/ {
  .column {
    background: #ffffff;
  }
}
