<div class="background" [ngStyle]="{background: technology.color}">
  <svg viewBox="0,0 50,50">
    <polygon points="20,0 50,0 50,30" style="fill:white;"/>
  </svg>
</div>
<section class="content">
  <a [routerLink]="getBackLink()"> <img class="exit" src="assets/images/arrows/x.svg" alt="Back to main page"></a>
  <div class="header">
    <nav class="navigation">
      <a [routerLink]="generateLink(previous)"><img class="prev" src="assets/images/arrows/angle_left.svg" alt="Previous technology"> </a>
      <a [routerLink]="generateLink(next)"><img class="next" src="assets/images/arrows/angle_right.svg" alt="Next technology"> </a>
    </nav>
    <a [routerLink]="generateLink(next)"><img src="assets/images/arrows/angle_left.svg" alt="Next technology"> </a>
    <div class="title">
      <svg xmlns="http://www.w3.org/2000/svg" #svg viewBox="0 0 128 128">
      </svg>
      <h1>{{ technology.title }}</h1>
    </div>

  </div>
  <div class="info">
    <div class="col description">
      <div>
        <div class="title"><h4>{{ 'TECHNOLOGIES.description' | translate}}</h4></div>
        <div class="desc"><p>{{technology.description | translate}}</p></div>
      </div>

    </div>
    <div class="col">
      <div class="picture">
        <img [src]="technology.img">
      </div>
    </div>
  </div>

</section>
