@import '../../../../assets/styles/mediaQueries';

:host{
  height: 100vh;
  width:100%;
  position:fixed;
  z-index: 3002;
}
.background{
  width: 100%;
  height: 100vh;
  background: #c4473a;
  position: fixed
}

.content{
  margin-top:40vh;
  width:100%;
  position:relative;
  z-index: 3003;
  .exit{
    position:fixed;
    top:5%;
    right:5%;
    height: 30px;
    z-index: 3004;
  }
}

.home{
  position:fixed;
  top:5%;
  left:5%;
  width:37px;

  z-index: 3004;
  polygon{
    transition:all .5s;
  }
  polygon:nth-child(2){
    opacity:0;
  }
  &:hover{
    polygon:nth-child(1){
      opacity:0;
    }
    polygon:nth-child(2){
      opacity:1;
    }
  }
}

.header{
  margin-top:5%;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  display: flex;
  justify-content: center;

  .navigation{
    position:absolute;
    width:100%;
    height:100%;
    img{
      height:30px;
      position:absolute;
      zoom:1.5;
    }
    .next{
      right:5%;
      top:45%;
    }
    .prev{
      left:5%;
      top:45%;
    }
  }

  .title{
    margin-top:30px;
    display: flex;
    align-items: center;
    letter-spacing: normal;
    svg{
      height: 80px;
      margin: 0 2em;
      fill:#fff;
      filter: drop-shadow( 5px 5px 20px rgba(0,0,0,.3) )
    }
  }
}
.info{
  height:60vh;
  overflow: scroll;
  display:flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  .col{
    &.description{
      min-height: 100%;
      display:flex;
      align-items: center;
    }
    width:50%;
    @media #{$tablet}{
      width:100%;
    }
  }
  .description>div{
    width: 60%;
    margin:0 auto;
    @media #{$tablet}{
      width:80%;
    }
    .title{
      font-size:1.5rem;
    }
  }
  .picture{
    display:flex;
    background: #f8f8fa;
  }
}

