.container {
  margin: auto;
  margin-bottom: 80px;

  .row-contact {
    display: flex;
    justify-content: center;

    .col-contact {
      width: 40%;
      margin: 0 30px;
    }

    .contact-box {
      background-color: #F2F2F2 ;
      text-align: center;
      line-height: 28px;
      padding: 100px 100px;

      .text {
        font-size: 1.8em;
      }

      &-header {
        font-size: 3.6em;
        font-weight: 500;
        margin-bottom: 50px;
      }

      .contact {
        font-weight: 700;
        text-decoration: underline;
        margin-bottom: 60px;
      }

      .address {
        margin-bottom: 60px;
      }

      .row-brief {
        .btn {
          margin: 82px 0;
        }
      }
    }
  }
}
