@import "assets/styles/import.scss";
@import "assets/styles/layout.scss";
@import "assets/styles/rwd.scss";

body {
  margin: 0;
  color: #282828;
  -webkit-appearance: none;
}

app-audit {
  width: 100%;
}

app-offer {
  width: 100%;
}

.container {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  box-sizing: border-box;
  @media (min-width: 576px) {
    max-width: 540px;
  }
  @media (min-width: 768px) {
    max-width: 720px;
  }
  @media (min-width: 992px) {
    max-width: 960px;
  }
  @media (min-width: 1200px) {
    max-width: 1140px;
  }
  @media (min-width: 1400px) {
    max-width: 1300px;
  }
}

p {
  line-height: 22px;
  font-weight: 700;
}

.loadingBeforeApp {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #282828;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  figure {
    width: 100%;
    margin:0;
    max-width: 220px;
    figcaption {
      display: none;
    }
    img {
      width: 100%;
    }
  }
  p {
    font-size: 2.4rem;
    color: #ffffff;
  }
}

