@import "assets/styles/import.scss";
@import "assets/styles/layout.scss";
@import "assets/styles/rwd.scss";

body {
  margin: 0;
  color: #282828;
}

app-audit {
  width: 100%;
}

app-offer {
  width: 100%;
}

.container {
  display:block;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  box-sizing: border-box;
  @media (min-width: 576px) {
    max-width: 540px;
  }
  @media (min-width: 768px) {
    max-width: 720px;
  }
  @media (min-width: 992px) {
    max-width: 960px;
  }
  @media (min-width: 1200px) {
    max-width: 1140px;
  }
  @media (min-width: 1400px) {
    max-width: 1300px;
  }
}

p {
  line-height: 22px;
  font-weight: 700;
}







