//.slider {
//  border: 1px solid red;
//}

.section-home {
  position: relative;
  height: 90vh;

  .skip {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;

    &-text {
      font-size: 1.6em;
    }

    &-btn {
      font-size: 2.5em;
      color: #333333;
    }
  }
}
