// Buttons
.btn {
  padding: 10px 35px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  border-radius: 0;

  &-yellow {
    background-color: #fee03c;
    color: #282828;
    border: none;
  }

  &-shadow {
    box-shadow: 7px 10px 30px rgba(161, 161, 161, 0.30);
  }

  &-white {
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
  }

  &-large {
    font-size: 16px;
    font-weight: 700;
  }

  &-border-only {
    background: transparent;
    color: #282828;
    border: 4px solid #282828;
  }
  &-hover-yellow-border {
    border: 4px solid transparent;
    transition: .5s;
    &:hover{
      background: transparent;
      border: 4px solid #FFDE07;
      color: #FFDE07;
    }
  }

  &-hover-black-fill {
    transition: .3s;
    &:hover {
      background: #282828;
      color: #FFDE07;
    }
  }

  &-hover-black-fill-white-color {
    transition: .3s;
    &:hover {
      background: #282828;
      color: #ffffff;
    }
  }
}
