// Buttons
.btn {
    padding: 10px 35px;
    text-transform: uppercase;

  &-yellow {
    background-color: #fee03c;
    color: #fff;
    border:none;
  }

  &-shadow {
    box-shadow: 8px 8px 20px #8E8E8E;
  }

  &-white {
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
  }

  &-large {
   font-size: 17px;
   font-weight: 700;
  }
}
