$xl-computer: "only screen and (min-width: 1400px)";
$computer: "only screen and (min-width: 992px)";
$tablet: "only screen and (max-width: 799px)";
$phone-tablet: "only screen and (min-width: 800px)";
$phone: "only screen and (max-width: 576px)";
$home-information-mobile: "only screen and (max-width: 1050px)";
$home-information-vertical-mobile: 'only screen and (max-width: 1050px) and (orientation: landscape)';
$home-information-vertical-small-mobile: 'only screen and (max-width: 1050px) and (max-height: 600px) and (orientation: landscape)';
$mobile: "only screen and (max-width: 760px)";
$tablet-media: "only screen and (max-width: 767px)";
$br1024: 'only screen and (max-width: 1024px)';
