$xl-computer: "only screen and (min-width: 1350px)";
$computer: "only screen and (min-width: 992px)";
$tablet: "only screen and (max-width: 799px)";
$phone-tablet: "only screen and (min-width: 800px)";
$phone: "only screen and (max-width: 500px)";



