body {
    letter-spacing: .5px;
    font-family: 'Proxima Nova', sans-serif;
    font-size: 10px;
}

h1 {
    font-size: 3.6em;
    font-weight: 500;
}

h2 {
    font-size: 3em;
    font-weight: 500;
}

h3 {
    font-size: 2em;
    font-weight:400;
}

h4 {
    font-size: 1em;
    font-weight: 700 ;
}

p {
    font-size: 1.6em;
    font-weight:300 ;
}

label {
    font-size: 1.4em;
    font-weight: 400;
}
