body,html{
  font-size: 10px;
  font-family: 'proxima-nova', sans-serif;
}
h1 {
    font-size: 4.8em;
    font-weight: bold;
}

h2 {
    font-size: 3.6em;
    font-weight: bold;
}

h3 {
    font-size: 2.4em;
    font-weight:bold;
}

h4 {
    font-size: 1.6em;
    font-weight: bold ;
}

p {
    font-size: 1.6em;
    font-weight:normal ;
}
li{
  font-size: 1.6em;
  font-weight: normal;
}
span.white{
  color: #fff;
}
label {
    font-size: 1.6em;
    font-weight: bold;
}
