@import "../../../../assets/styles/colors";
@import "../../../../assets/styles/mixins";
@import '../../../../assets/styles/mediaQueries';

:host {
  width: 15%;
  outline: none;
}

.wrapper {
  position: relative;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  .hidden {
    opacity: 0;
  }

  .triangle-svg {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3500;
    width: 32px;
    height: 32px;
    transform-origin: top right;
    transition: opacity .7s ease-in-out;
  }
  svg {
    width: 32px;
    height: 32px;
    polygon {
      transition: opacity .5s;
    }
  }
}

