@import "../../../../assets/styles/colors";
@import "../../../../assets/styles/mixins";
@import '../../../../assets/styles/mediaQueries';

:host {
  width: 15%;
  outline: none;
  display: flex;
  align-items: center;
}
.hidden {
  opacity: 0;
}

.wrapper {
  position: relative;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: opacity .7s ease-in-out;
  img {
    height: 100%;
  }
  .triangle-svg {
    margin-left: 5px;
    width: 32px;
    height: 32px;
    transform-origin: top right;
  }
  svg {
    width: 32px;
    height: 32px;
    polygon {
      transition: opacity .5s;
    }
  }
}

