@import "../../../../assets/styles/colors";
@import "../../../../assets/styles/mixins";
@import '../../../../assets/styles/mediaQueries';
:host{
  width:15%;
}

.wrapper {
  position: relative;
  width: 115px;
  height:153px;
  display:flex;
  align-items: center;
  img {
    width: 75px;
    height: 153px;
    cursor: pointer;
    transition: .3s all;
  }
  .hidden{
    opacity: 0;
  }

  .triangle-svg {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3500;
    width:32px;
    height:32px;
    transform-origin: top right;
    transition: transform .7s ease-in-out;
  }
  svg{
    width:32px;
    height:32px;
    polygon{
      transition: opacity .5s;
    }
  }
  .animate-logo{
    transform: translate(-80px,-120px) rotateZ(360deg);
  }
}

