<section class="hamburger" [class.active]="active" (click)="toggleHamburger()">
  <div class="first"></div>
  <div class="second"></div>
  <div class="third"></div>
</section>

<section class="navigation" [class.active]="active" >
  <ul>
    <li *ngFor="let nav of navigation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <span [routerLink]="'/'+ nav.href | localize" (click)="toggleHamburger()">{{ nav.title | translate }}</span>
    </li>
  </ul>
</section>

<section class="languages" [class.active]="active">
  <p [class.active]="translate.currentLang === lang" *ngFor="let lang of translate.getLangs()" (click)="onLanguageChange(lang)"> {{ 'NAVIGATION.'+lang | translate}}</p>
</section>

<div class="background" [class.active]="active"></div>
