@import "../../../../assets/styles/colors";
@import "../../../../assets/styles/mediaQueries";

:host {
  position: relative;
  display: block;
}

.container {
  display: block;
  position: relative;
  @media #{$tablet-media}{
    width:100%;
    max-width: 100%;
  }
}
