@import '../../../../../assets/styles/mediaQueries.scss';

:host {
  width: 33.33%;
  display: flex;
  box-sizing: border-box;
  padding: 0 10px;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
  @media #{$tablet-media}{
    width: 50%;
  }
  @media #{$phone}{
    width: 100%;
  }
  @media #{$br1200}{
    width: 25%;
  }

}

.image {
  width: 25%;
  figure {
    position: relative;
    width: 100%;

    margin: 0;
    overflow: hidden;
    &:after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }
    figcaption {
      display: none;
      left: 0;
      top: 0;
    }
    img {
      position: absolute;
      width: 100%;
    }
    .cover {
      width: 50%;
      position: absolute;
      left: -50%;
      bottom: -50%;
      transition: .5s;
    }
  }
}

:host.hover {
  .image > figure > .cover {
    left: 0;
    bottom: 0;
  }
  .vcard {
    color: #FFDE07;
  }
}

section.vcard {
  color: #ffffff;
  box-sizing: border-box;
  padding-left: 20px;
  transition: .5s;
  h3, p {
    margin: 10px 0 0;
    font-size: 14px;
    font-weight: 500;
  }
  h3 {
    font-size: 18px;
    line-height: 0px;
    font-weight: 700;
  }
}
