<section class="container">
  <app-employee *ngFor="let employee of employees" [person]="employee" [eventManager]="eventManager"></app-employee>
  <section class="join_us" (click)="onNavigate()">
    <div class="join_us-image">
      <figure>
        <figcaption>Join us icon</figcaption>
        <img
          src="assets/images/people/Janusz.jpg"
          alt="place for your photo">
      </figure>
    </div>
    <section class="join_us-text">
      <h3>{{'ABOUT_US.place4U' | translate | prettifyText }}</h3>
      <p>{{'ABOUT_US.joinUs' | translate | prettifyText }}</p>
    </section>
    <svg viewBox="0,0 10,10">
      <polygon fill="#FFDE07" points="10,0 0,10 10,10"></polygon>
    </svg>
  </section>
</section>
<svg viewBox="0,0 25,1">
  <polygon fill="#282828" points="25,1 15,1 16,0 25,0"></polygon>
</svg>
