@import '../../../../../assets/styles/mediaQueries.scss';

:host {
  margin-top: -10%;
  width: 100%;
  padding: 20px 0 40px;
  background: #282828;
  display: block;
  position: relative;
  z-index: 35;
  @media #{$phone}{
    margin-top: 100px;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
}

svg {
  width: 35%;
  position: absolute;
  bottom: 100%;
  right: 0;
}

.join_us {
  overflow: hidden;
  position: relative;
  border: 1px solid #ffffff;
  width: 100%;
  display: flex;
  margin: 15px 0 0;
  box-sizing: border-box;
  padding: 10px 10px;
  align-items: center;
  cursor: pointer;
  transition-property: background, border;
  transition-duration: .25s;
  @media #{$br1200}{
    width: 50%;
    margin: 15px -2px 0;
  }

  & > * {
    position: relative;
    z-index: 35;
  }
  .join_us-image {
    max-width: 67px;
    @media #{$phone} {
      display: none;
    }
    @media #{$br1200}{
      max-width: 100%;
    }
    width: 12.5%;
    figure {
      position: relative;
      margin: 0;
      overflow: hidden;
      width: 100%;
      &:after {
        content: '';
        padding-bottom: 100%;
        display: block;
      }
      figcaption {
        display: none;
      }
      img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
  .join_us-text {
    color: #ffffff;
    box-sizing: border-box;
    letter-spacing: 0;
    padding-left: 20px;
    transition: color .75s;
    @media #{$phone} {
      padding-left: 0;
    }
    h3, p {
      margin: 0;
      font-size: 16px;
    }
    h3 {
      margin: 0 0 10px;
      font-size: 18px;
    }
  }

  svg {
    position: absolute;
    z-index: 30;
    bottom: 0;
    right: 0;
    width: 5%;
    pointer-events: none;
    transition: .75s;
  }
  &:hover {
    transition-delay: .30s;
    background: #FFDE07;
    border: 1px solid #FFDE07;

    .join_us-text{
      color: #282828;
    }
    svg {
      width: 150%;
    }
  }
}
