@import '../../../../../assets/styles/mediaQueries.scss';
:host{
  width: 100%;
  height: 100%;
  overflow: scroll;
  margin: 60px auto 0;
  &::-webkit-scrollbar {
    display: none;
  }
  @media #{$xl-computer}{
    width:80%;
  }
}
ul{
  display:flex;
  flex-wrap: wrap;
  letter-spacing: normal;
  padding: 0 6.25%;
  @media #{$phone} {
    padding:0;
  }
  li{
    display:flex;
    justify-content: space-around;
    width:100%;
    position:relative;
    @media #{$computer}{
      width:50%;
    }
    &>div{
      flex:.65;
      @media #{$phone} {
        flex:.5;
      }
    }
  }
  h1{
    font-size: 3.6rem;
    font-weight:bold;

    margin-bottom:0;
    @media #{$phone} {
      font-size: 2.4rem;
    }
  }
  h2{
    font-size: 2.4rem;
    font-weight: normal;
    margin:10px 0 20px;
  }
  hr{
    border: none;
    border-bottom: 4px solid #000;
    width: 30px;
    margin:0;
  }
  p{
    margin-top:42px;
    font-size: 1.6rem;
    font-weight: bold;
    cursor:pointer;
    &:hover{
      transition:visibility 5s;
      &>.person-description{
        visibility:visible;
      }
    }
  }
}

figure{
  margin: 0;
  position:relative;
  flex:.5;
  figcaption{
    display:none;
  }
  @media #{$tablet} {
    flex:.35;
  }
  img{
    position:absolute;
    top:30px;
    right:30px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    @media #{$home-information-mobile} {
      width: 130px;
      height: 130px;
    }
    @media #{$phone} {
      right:-5px;
    }
  }
}

.person-description{
  position:absolute;
  left:0;
  top:0;
  z-index: 1;
  width:100%;
  min-height: 100%;
  background: #FFDE07;
  visibility:hidden;
}
