@import '../../../../../assets/styles/mediaQueries.scss';

:host {
  display: block;
  width: 33.3%;
  @media #{$tablet-media}{
    width: 50%;
  }
  @media #{$phone}{
    width: 100%;
  }
  @media #{$br1200}{
    width: 25%;
  }
  &:last-of-type{
    .description{
      border-bottom: 3px solid transparent;
    }
  }
}

:host > .worker {
  display: flex;
  box-sizing: border-box;
  padding: 0 10px;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
  position: relative;
  width: 100%;

  .right-arrow {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    display: none;
    @media #{$phone} {
      display: block;
    }
    polyline{
      opacity: 0;
      transition: opacity .2s;
    }
    .visible{
      opacity: 1;
    }
  }
  @media #{$phone} {
    padding: 0;
    margin-top: 15px;
  }
}

.image {
  width: 25%;
  @media #{$phone}{
    width: 33%;
  }
  figure {
    position: relative;
    width: 100%;

    margin: 0;
    overflow: hidden;
    &:after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }
    figcaption {
      display: none;
      left: 0;
      top: 0;
    }
    img {
      position: absolute;
      width: 100%;
    }
    .cover {
      width: 50%;
      position: absolute;
      left: -50%;
      bottom: -50%;
      transition: .5s;
    }
  }
}

:host.hover {
  .image > figure > .cover {
    left: 0;
    bottom: 0;
  }
  .vcard {
    color: #FFDE07;
  }
}

section.vcard {
  color: #ffffff;
  box-sizing: border-box;
  padding-left: 20px;
  transition: .5s;
  h3, p {
    margin: 10px 0 0;
    font-size: 14px;
    font-weight: 500;
  }
  h3 {
    font-size: 18px;
    line-height: 0;
    font-weight: 700;
  }
}

.description {
  width: 100%;
  background: #282828;
  font-weight: normal;
  color: #ffffff;
  margin: 0;
  padding: 0 ;
  display: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height .5s, padding .5s, border .5s;
  border-bottom: 3px solid transparent;
  @media #{$phone} {
    display: block;
  }
  &.visible{
    padding: 10px 0;
    max-height: 400px;
    border-bottom: 3px solid #FFDE07;
  }
}
