@import '../../../../assets/styles/mediaQueries.scss';

.container {
  width: 100%;
  margin-top: 80px;
  padding: 0 80px;
  box-sizing: border-box;
  @media #{$phone}{
    padding: 0 10px;
  }
  @media #{$tablet}{
    padding: 0 40px;
  }
  @media #{$br1400Max}{
    max-width: 100%;
  }
}

.header {
  text-align: center;
  margin-bottom: 4em;
}

.row {
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .col {
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 25%;

    @media only screen and (max-width: 1440px) {
      padding: 0 10px;
    }

    @media only screen and (max-width: 1180px) {
      width: 33.33%;
    }

    @media only screen and (max-width: 860px) {
      width: 50%;
    }

    @media #{$phone}{
      width: 100%;
    }

    h3 {
      box-sizing: border-box;
      font-weight: bold;
      min-height: 60px;
      margin: 0;
    }
    p {
      margin: 20px 0;
      @media #{$phone}{
        margin: 0;
      }
    }
    .col-img {
      margin: 0;
      width: 100%;
      transition: .5s;
      border: 1px solid transparent;
      box-sizing: border-box;
      figcaption {
        display: none;
      }
      img {
        width: 100%;
      }
    }
  }
}
