<div class="container">
  <div class="header"><h2>{{WeCreate.title | translate | prettifyText}}</h2></div>


  <div class="row">
    <div class="col" *ngFor="let item of WeCreate.features">
      <figure class="col-img" [style.left]="item.left || ''">
        <figcaption>Offer image</figcaption>
        <img [src]="detectMobile() ? item.mobile : item.image" [style.width]="detectMobile() ? item.width + '%' : '100%'" alt="offer Image">
      </figure>
      <h3>{{item.name | translate | prettifyText}}</h3>
      <p>{{item.description | translate | prettifyText }}</p>
    </div>
  </div>
</div>
