@import "../../../../assets/styles/colors";

.deskOwner {

  opacity: 1;
  transition: .3s;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .col2 {
    width: 45%;
    height: 80%;
    img {
      height: 100%;
      width: 100%;
    }
    h4 {
      font-size: 1.5em;
      margin: 0;
      font-weight: 500;
    }
  }
}
#front{

  position: absolute;
  transform-origin: bottom left;
  cursor: pointer;
  width: 207px;
  height: 54px;
  opacity: 0.95;
  background: $desk;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;


  //&:after{
  //  content: '';
  //
  //  position: absolute;
  //  bottom: 0;
  //  right: 0;
  //  width: 100%;
  //  height: 100%;
  //  transition: 0.3s;
  //  background: $desk;
  //}

}
#front.animationVariant1{
  opacity: 1;
  transition: 0.3s;

    transform-origin: bottom;
    transform:scale(4);

}
//#front.animationVariant2{
//  opacity: 1;
//  transition: 0.3s;
//
//  &:after{
//
//    width: 65%;
//    height: 167%;
//    transform-origin: bottom;
//    transform: rotateY(0deg) rotateZ(29deg) rotateX(0deg) skew(30deg) translateY(-32px) translateX(102px);
//  }
//}

#front.animationVariant1.big{
  &:after{
    width: 100%;
    transform: inherit;
  }
}
